:root {
 --color-accent: rgba(0, 0, 0, 0.9);
 --color-main: linear-gradient(to top, #a13e40, #ff85aa);
 --color-btn: linear-gradient(to left, #a13e40, #ff85aa);
 --box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.63);
 --anim-speed: 250ms ease;
}

*,
*::after,
*::before {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Montserrat', sans-serif;
 font-size: 16px;
}

a {
 font-family: 'Montserrat', sans-serif;
}

.hamburger-menu {
 display: none;
}
// Nav button animations

.link {
 position: relative;

 &:hover,
 &:focus {
  font-weight: bold;
 }
 &:hover::before {
  transform: scale(1);
 }
}
.link::before {
 content: '';
 position: absolute;
 background: var(--color-main);
 height: 2.2px;
 left: 0;
 right: 0;
 bottom: -1rem;
 transition: opacity var(--anim-speed), transform var(--anim-speed);
 transform: scaleX(0);
}

// Nav button animations

nav {
 width: 90%;
 margin: auto;
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-top: 1rem;
 .logo {
  flex: 1;

  img {
   max-width: 6rem;
   filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.63));
  }
 }

 .navlinks {
  flex: 3;
 }

 .links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;

  a {
   text-decoration: none;
   color: var(--color-accent);
   font-size: 1.5rem;
  }
 }
 .link {
  margin-top: -1rem;
 }
}

.container {
 height: 70vh;
 display: flex;
 flex-direction: row;
 align-items: center;
 width: 80%;
 margin: auto;

 .content-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  margin-right: 2rem;
  position: relative;

  &::before {
   position: absolute;
   height: 20vh;
   width: 11px;
   background: var(--color-main);
   left: -5%;
   top: 0.5rem;
   content: '';
   box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63);
  }

  h1 {
   font-weight: bold;
   font-size: 5rem;
   color: var(--color-main);
  }
  p {
   font-size: 2rem;
  }

  span {
   margin-top: 1rem;
   opacity: 0.6;
  }
  .price {
   opacity: 1;
   font-weight: bold;
   font-size: 4rem;
   margin-left: 2rem;
  }
 }

 .card {
  background: var(--color-main);
  border-radius: 1rem;
  height: 35vh;
  width: 40vw;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
   margin: auto 0;
   justify-content: center;
   z-index: 2;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: white;
   text-decoration: none;
   font-size: 1.1rem;

   img {
    max-width: 70%;
    margin-bottom: 1rem;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.63));
   }
  }
 }
}
.content-info {
 position: relative;
}
#image-container {
 width: 70vh;
 position: absolute;
 right: 30%;
 bottom: 10%;

 img {
  width: 90%;
  z-index: 3;
  filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.63));
 }
}

.cta {
 margin-left: 2rem;
 margin-top: 1rem;
 .btn {
  background: var(--color-btn);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: bold;
  position: relative;

  &::after {
   content: '\f054';
   font-weight: bold;
   font-family: 'Font Awesome 5 Free';
   font-size: 1.3rem;
   position: absolute;
   background: var(--color-main);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   right: -1.2rem;
   top: 1.5rem;
   transform: translateX(0);
   transition: transform var(--anim-speed);
  }
  &:hover::after {
   transform: translateX(5px);
  }
 }
}

.cardplus {
 transition: transform var(--anim-speed), font-weight var(--anim-speed);

 img {
  transform: scale(0.8);
 }
 &:hover,
 &:focus img {
  transform: scale(1.2);
  font-weight: bold;
 }
}

footer {
 margin-top: 5rem;

 .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 5rem;
  margin-top: 6rem;
 }
 a {
  padding-top: 5rem;
  font-size: 3rem;
  color: var(--color-accent);
  transition: transform var(--anim-speed), color var(--anim-speed);

  &:hover {
   transform: scale(1.1);
   color: black;
  }
 }
}

@media only screen and (max-width: 1900px) {
 .container {
  .content-info {
   h1 {
    font-size: 3rem;
   }
   p {
    font-size: 1.4rem;
   }
  }
 }
 #image-container {
  width: 45vh;
  right: 30%;
  bottom: 25%;
 }

 @media only screen and (max-width: 1200px) {
  .container {
   flex-direction: column;
   .content-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    h1 {
     font-size: 4rem;
    }
    p {
     font-size: 1.5rem;
    }
    .price {
     margin: 0;
    }
    .btn {
     margin-right: 2.2rem;
    }
    &::before {
     height: 30vh;
     width: 13px;
     margin-top: 3rem;
     left: -2rem;
    }
   }
  }
  .container {
   .card {
    width: 60vw;
    height: 30vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   }
  }
  #image-container {
   width: 40vh;
   right: -2rem;
   bottom: 15rem;
  }
 }

 @media only screen and (max-width: 950px) {
  .container {
   .card {
    width: 70vw;
    height: 25vh;
    margin-top: 8rem;
    position: relative;
    top: 8rem;
   }
   .content-info {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1 {
     font-size: 2rem;
     letter-spacing: 0.2rem;
    }
    p {
     font-size: 1rem;
     letter-spacing: 0.1rem;
    }
    .price {
     margin-top: 1rem;
     margin-bottom: 1rem;
     font-size: 1.5rem;
    }
    .btn {
     margin-right: 2.8rem;
     font-size: 1.5rem;

     &::after {
      font-size: 1rem;
      top: 0.5rem;
     }
    }
   }
  }

  #image-container {
   max-width: 80%;
   position: relative;
   margin-right: 2rem;

   top: -60%;
   z-index: -1;

   img {
    z-index: 4;
    max-width: 100%;
    position: absolute;
   }
  }
  nav {
   position: relative;
  }
  .hamburger-menu {
   width: 25px;
   cursor: pointer;
   position: absolute;
   right: 0;
   top: 1rem;
   display: block;
  }

  .links {
   position: absolute;
   top: 65px;
   width: 100%;
   right: 0;
   display: flex;
   z-index: 4;
   padding: 4rem 1rem 3rem 1rem;
   border-radius: 1rem;
   background: var(--color-main);
   overflow: hidden;
  }

  #menuList {
   a {
    font-weight: bold;
    font-size: 0.8rem;
    opacity: 0.9;
   }
  }
 }
}
