.calc__container {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: clamp(0.6rem, 3vw, 1.3rem);
    margin: 1rem;
    margin-top: 3rem;
    color: var(--darkmode-text);
    font-style: italic;

    p {
      font-size: 1rem;
    }
  }
}

.input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;

  .input--rounded {
    font-family: 'Montserrat', sans-serif;
    border: 2px solid var(--darkmode-cta);
    color: var(--darkmode-bg);
    background: white;
    outline: none;
    border-radius: 2rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    text-align: center;
    font-weight: bold;
    transition: transform 150ms linear;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    flex-direction: column;

    &:focus {
      transform: scale(1.07);
    }
    &::placeholder {
      font-weight: bold;
      color: var(--darkmode-text);
      opacity: 0.6;
      font-size: 0.9rem;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      -webkit-appearance: none;
    }
  }

  .button__container {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn--rounded {
      font-size: 1.1rem;
      border: 2px solid var(--darkmode-cta);
      color: var(--darkmode-bg);
      background-color: white;
      outline: none;
      padding: 0.3rem 2rem 0.3rem 2rem;
      border-radius: 2rem;
      cursor: pointer;
      transition: transform 200ms linear;

      &:hover,
      &:focus {
        transform: translateY(-2px);
      }
      &:active {
        transform: scale(1.05);
      }
      &:hover .button__container__icon,
      &:focus .button__container__icon {
        opacity: 1;
      }
      &:active .button__container__icon {
        opacity: 1;
      }
    }
    &__icon {
      opacity: 0.8;
      transition: opacity 100ms;
    }
    .btn--calc {
      border-radius: 50%;
      padding: 0.5rem;
      font-size: 1rem;
      font-size: clamp(0.8rem, 3vw, 1rem);
      color: var(--darkmode-bg);
    }
  }
}

.result__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  color: var(--darkmode-bg);
  background-color: white;
  border: 2px solid var(--darkmode-cta);

  &__text {
    color: var(--darkmode-bg);
    background-color: white;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    font-size: 1.45rem;
    font-size: clamp(1.2rem, 3vw, 1.45rem);
    font-weight: bold;
  }
}
