nav {
  .cart--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    &__btn {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 300ms ease;
      opacity: 0.9;
      &:hover {
        transform: translatey(1px);
        opacity: 1;
      }

      svg {
        * {
          fill: var(--color-text);
        }
      }
    }

    .cart__quantity {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: var(--color-text);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 300ms linear;
      text-align: center;

      &:hover {
        background-color: var(--color-cta);
      }

      &__text {
        cursor: pointer;
        color: var(--color-bg);
        font-weight: bold;
        font-size: 0.8rem;
        z-index: 2;
      }
    }
  }
}

.modal__overlay {
  position: absolute;
  inset: 0;
  min-height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.565);
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms linear;
  position: fixed;
  inset: 0;
  z-index: 5;
}

.modal {
  padding: 1rem;
  top: 95px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--color-bg);
  border: 2px solid var(--color-text);
  min-height: 500px;
  max-height: 600px;
  z-index: 150;
  position: fixed;
  overflow: scroll;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease;
  max-width: 600px;
  width: 90%;
  box-shadow: var(--box-shadow);

  &__exit {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;

    i {
      background-color: var(--color-accent);
      color: var(--color-textdark);
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 130ms linear;
      &:active,
      &:hover {
        transform: rotate(90deg);
        border: 2px solid var(--color-cta);
      }
    }
  }
  &__header,
  .modal__total {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    text-transform: uppercase;
    text-align: center;
  }

  &__items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
    padding: 1rem;
    color: var(--color-text);
    font-size: 1rem;
    font-size: clamp(0.9rem, 3vw, 1rem);
    font-weight: bold;
    border-top: 2px solid var(--color-accent);
  }
  .modal__total {
    flex-direction: column;
    gap: 0.6rem;

    p {
      font-size: 1.2rem;
      font-size: clamp(1rem, 2vw, 1.2rem);
      font-weight: bold;
    }
    .modal__btn {
      margin-top: 0.5rem;
      transition: transform 250ms ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid var(--color-text);
    height: 130px;
    max-height: 130px;
    align-items: center;

    .modal__image {
      img {
        max-width: 100px;
        width: 100%;
        background-size: contain;
        background-position: center;
      }
    }
    .modal__quantity {
      font-size: 1rem;
      font-size: clamp(0.7rem, 1vw, 1rem);
      font-weight: bold;
    }
    .modal__name {
      font-size: 1rem;
      font-size: clamp(0.7rem, 1vw, 1rem);
      text-transform: uppercase;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
    }
  }
}
.modal--link {
  text-decoration: none;
  color: var(--color-underline);
  transition: color 200ms ease;

  &:hover,
  &:active {
    color: var(--color-accent);
  }
}

.item--counts {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  align-items: center;

  button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-size: clamp(0.6rem, 2vw, 0.9rem);
    text-align: center;
    transition: transform 300ms linear, opacity 300ms linear, color 300ms linear;
    font-weight: bold;
    color: var(--color-text);
    border-radius: 50%;
    width: 23px;
    height: 23px;
    opacity: 0.8;
    background: transparent;
    &:hover,
    &:active {
      color: var(--color-underline);
      opacity: 1;
    }
  }
}

.overlay--active {
  visibility: visible;
  opacity: 1;
}
.modal--active {
  opacity: 1;
  visibility: visible;
}

@include media('<md') {
  nav {
    .cart--wrapper {
      .cart__quantity {
        width: 22px;
        height: 22px;
        &__text {
          font-size: 0.75rem;
        }
      }
    }
  }
}
