.checkout--overlay {
  position: absolute;
  inset: 0;
  min-height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.438);
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms linear;
  position: fixed;
  inset: 0;
  z-index: 5;
}

.checkout--modal {
  padding: 1rem;
  top: 95px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--color-bg);
  border: 2px solid var(--color-text);
  min-height: 500px;
  max-height: 700px;
  z-index: 150;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  overflow: scroll;
  transition: opacity 300ms ease;
  max-width: 800px;
  width: 90%;
  box-shadow: var(--box-shadow);

  &__header {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    border: none;
    position: relative;
    margin-bottom: 2rem;

    .fa-check {
      font-size: 4rem;
      font-size: clamp(2rem, 3vw, 4rem);
      color: yellowgreen;
    }
    h3 {
      text-transform: uppercase;
      font-size: 1.1rem;
      font-size: clamp(0.9rem, 1vw, 1.1rem);
    }
    span {
      font-size: 1rem;
      font-size: clamp(0.7rem, 1vw, 1rem);
    }
  }

  .checkout-modal__bought-items {
    width: 100%;
    text-align: center;
    border: none;
    margin: unset;

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background: var(--color-accent);
      display: flex;
    }

    .modal__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 90px;
      max-height: 90px;
      border: none;

      .modal__quantity,
      .modal__name {
        font-size: 1rem;
        font-size: clamp(0.6rem, 1vw, 1rem);
      }
    }

    img {
      width: 100%;
      max-width: 130px;
    }
  }

  .orderid {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    font-size: 1rem;
    font-size: clamp(0.7rem, 1vw, 1rem);
    font-weight: bold;
    text-transform: uppercase;
  }
}

.checkout {
  max-width: 1350px;
  margin: 2.15rem auto;
  width: 100%;

  &__wrapper {
    padding: 2rem;
    border: 2px solid var(--color-text);
    border-radius: 0.5rem 3rem;
    box-shadow: var(--box-shadow);
  }

  &__back {
    width: 100%;

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.3rem;
      color: var(--color-text);
      text-decoration: none;
      font-size: 1.2rem;
      font-size: clamp(1rem, 2vw, 1.2rem);
      transition: all 400ms ease;
      position: relative;
      width: 105px;

      &:hover {
        transform: scale(1.02);
      }
      &::before {
        content: '\f053';
        font-weight: bold;
        font-family: 'Font Awesome 5 Free';
        font-size: 0.7rem;
        transition: all 300ms ease;
      }
      &:hover::before {
        transform: translateX(-5px);
        color: var(--color-underline);
      }
      &::after {
        //Line on Linkedin link
        content: '';
        position: absolute;
        background: var(--color-text);
        transform: translateX(50%);
        right: 0;
        left: 0.5rem;
        height: 2px;
        transition: all 400ms ease;
        pointer-events: none;
        transform: scale(0);
      }
      &:hover::after {
        transform: scale(1.1);
      }
    }
  }

  &__header {
    margin-top: 2rem;
    color: var(--color-text);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-size: clamp(1rem, 2vw, 1.3rem);
  }
  &__inputs {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    h3 {
      color: var(--color-underline);
      text-transform: uppercase;
      font-size: 1.15rem;
      font-size: clamp(0.9rem, 2vw, 1.15rem);
      margin-bottom: 1rem;
      word-spacing: -1.5px;
      font-weight: bold;
    }

    .checkout__input {
      display: flex;
      gap: 0.3rem;
      font-size: 1rem;
      font-size: clamp(0.9rem, 2vw, 1rem);
      margin-bottom: 1rem;
      font-weight: bold;
      padding: 0.3rem;
      border-radius: 0.5rem;
      border: 1px solid var(--color-text);

      legend {
        margin: 0 3rem;
        font-size: 1.1rem;
        font-size: clamp(0.8rem, 2vw, 1.1rem);
        color: var(--color-text);
      }

      input {
        outline: none;
        border: none;
        background: transparent;
        width: 1200px;
        height: 3.4rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        font-size: 1.2rem;
        font-size: clamp(1rem, 2vw, 1.2rem);
        color: var(--color-text);
        transition: all 400ms ease;
      }
    }
  }

  &__payments {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: var(--color-text);
    width: 100%;

    &--header {
      color: var(--color-text);
      text-transform: uppercase;
      font-size: 0.9rem;
    }
    .checkout__payment {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      gap: 0.5rem;

      label,
      input {
        cursor: pointer;
        accent-color: var(--color-underline);
      }

      input[type='radio'] {
        width: 15px;
        height: 15px;
        transition: all 300ms ease;
      }
      input[type='radio']:checked {
        transform: scale(1.2);
      }
    }
  }

  .summary {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1350px;
    padding: 0 1.5rem;
    font-weight: bold;
    gap: 1rem;

    h3 {
      color: var(--color-underline);
      text-transform: uppercase;
      font-size: 1.6rem;
      font-size: clamp(1rem, 2vw, 1.6rem);
      margin-bottom: 0.5rem;
      word-spacing: -1.5px;
      font-weight: bold;
      text-align: center;
      width: 100%;
    }
    &__item {
      height: 120px;
      max-width: 1350px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border: 2px solid var(--color-text);
      border-radius: 3rem 0.5rem;
      padding: 1rem 2rem;
      box-shadow: var(--box-shadow);
    }

    &__item2 {
      border-radius: 0.5rem 3rem;
      border: 2px solid var(--color-cta);
    }
    &__image {
      img {
        max-width: 80px;
        width: 100%;
        background-size: contain;
        background-position: center;
      }
    }
    &__description,
    &__quantity {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      color: var(--color-text);
      text-align: center;
      text-transform: uppercase;
      font-size: 1rem;
      font-size: clamp(0.55rem, 1vw, 1rem);

      .summary--text {
        text-transform: lowercase;
        opacity: 0.8;
      }
    }
    &__finish {
      display: flex;
      flex-direction: column;
      margin: 2rem auto;
      text-align: center;
      gap: 2rem;
      .summary__total {
        text-align: center;
        h3 {
          font-size: 1.6rem;
          font-size: clamp(1.2rem, 2vw, 1.6rem);
          color: var(--color-underline);
          margin-bottom: 0.5rem;
        }
        span {
          font-size: 1.5rem;
          font-size: clamp(1.2rem, 2vw, 1.5rem);
          color: var(--color-text);
          font-weight: bold;
        }
      }
    }
    &__btn {
      display: flex;
      align-items: center;
      margin: 0 auto;
      button {
        color: var(--color-textdark);
        font-size: 1rem;
        font-weight: bold;
        background-color: var(--color-underline);
        width: 500px;
        height: 3.5rem;
        border-radius: 0.5rem;
        outline: none;
        border: 2px solid var(--color-text);
        cursor: pointer;
        transition: all 500ms ease;
        &:hover,
        &:active {
          transform: translateY(5px);
          width: 800px;
        }
      }
    }
  }
}
//  Class toggles for Checkout Confirmation
.checkout--overlay--active {
  visibility: visible;
  opacity: 1;
}
.checkout--modal--active {
  visibility: visible;
  opacity: 1;
}

@include media('<xl') {
  .checkout {
    .checkout__inputs {
      .checkout__input {
        input {
          width: 1200px;
          height: 2.5rem;
        }
      }
    }
  }
}
@include media('<mlg') {
  .checkout {
    .checkout__inputs {
      .checkout__input {
        input {
          width: 700px;
          height: 2rem;
        }
      }
    }
  }
}

@include media('<smd') {
  .checkout {
    h3 {
      text-align: center;
    }
    &__wrapper {
      align-items: center;
      justify-content: center;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
    }
    .checkout__back {
      margin-right: auto;
    }
    .checkout__inputs {
      align-items: center;

      .checkout__input {
        input {
          width: 250px;
          height: 1.5rem;
        }
      }
    }
    &__payments {
      align-items: center;
      justify-content: center;
    }
    .summary {
      justify-content: center;
      align-items: center;

      &__item {
        height: 70px;
        width: 285px;
        max-width: unset;
      }
      &__image {
        img {
          max-width: 60px;
        }
      }

      &__btn {
        button {
          height: unset;
          width: 200px;
          padding: 1rem;
          transition: all 300ms ease;

          &:hover,
          &:active {
            width: 230px;
          }
        }
      }
    }
  }

  .checkout-modal__bought-items {
    .modal__item {
      img {
        max-width: 80px;
      }
    }
  }
}
