.result__container {
  display: flex;
  &__equation {
    font-size: 2rem;
  }
}

.image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 100%;

  svg {
    width: 30rem;
    height: 10rem;

    * {
      fill: var(--color-text);
    }
  }
}
