.result__container {
   display: flex;
   &__equation {
      padding: 0.1rem 2.5rem 0.1rem 2.5rem;
      background: #e4e4e4;
      font-size: 2rem;
   }
}

.image__container {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 80%;
   margin: 0 auto;

   img {
      width: 70%;
   }
}
