.input__container {
   .input__container__dropdown {
      border-radius: 2rem;
      padding: 0.1rem 1rem;
      outline: none;
      border: 2px solid black;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.5s;
      width: 0;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-position: right 0.73em top 50%;
      background-size: 0.6em auto;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      text-align-last: center;
      text-align: center;

      &:hover {
         transform: scale(1.05);
      }
      &:focus,
      &:active {
         width: 250px;
      }
   }

   #kg {
      padding: 0.3rem 3rem;
   }
   &__label {
      color: black;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.4rem;
      font-weight: bold;
      font-size: 0.9rem;
   }

   #totalresult {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      
   }
}
