@import 'breakpoints';

@mixin gradientClr {
  color: #d3436c;
  -webkit-background-clip: text;
  background-clip: text;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
@mixin gradientClr2 {
  color: #d86c7e;
  -webkit-background-clip: text;
  background-clip: text;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.main__container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  &__header {
    color: black;
  }
  &__label {
    color: black;
    font-size: 1.25rem;
    font-size: clamp(1.1rem, 2vw, 1.25rem);
    transition: all 100ms linear;

    &:focus-within {
      font-weight: bold;
      @include gradientClr();
    }
  }
  &__input {
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    border: 2px solid black;
    outline: none;
    width: 280px;
    padding: 0.1rem 1rem;
    height: 40px;
    border-radius: 1.5rem;
    font-size: 16px;
    color: #e4e4e4;
    font-family: 'Montserrat', sns-serif;
    transition: all 150ms linear;
    text-align: center;
    @include gradientClr();

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      -webkit-appearance: none;
    }

    &:focus,
    &:active {
      border: solid 2px #da179985;
      box-shadow: var(--box-shadow);
      transform: scale(1.03);
      @include gradientClr();
      font-weight: bold;
    }
  }

  &__select {
    font-size: 16px;
    border-radius: 2rem;
    padding: 0.1rem 1rem;
    border: 2px solid black;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 0.3s;
    height: 40px;
    width: 280px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    text-align-last: center;
    @include gradientClr();

    &:focus-within,
    &:active {
      box-shadow: var(--box-shadow);
      border: solid 2px #da179985;
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    animation: itemsload 1s ease;
    margin-top: 3rem;

    &__chevron {
      font-size: 1.5rem;
      font-size: clamp(1.35rem, 2vw, 1.5rem);
      transition: transform 250ms linear;
      color: black;
      transform: scale(0.9);
    }

    label {
      margin-top: 2rem;
      color: black;
      font-size: 1.5rem;
      font-size: clamp(1.2rem, 2vw, 1.5rem);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      max-width: 160px;
      cursor: pointer;
      transition: transform 300ms linear;
      position: relative;
      z-index: 1;
      font-weight: bold;
      color: black;

      &:hover .main__container__items__chevron,
      &:focus .main__container__items__chevron {
        transform: translateY(5px) scale(1.05);
      }
      &:hover,
      &:focus {
        transform: scale(1.03);
        @include gradientClr();
      }
    }

    &__item {
      align-items: center;
      justify-content: center;
      display: flex;
    }
    &__hidden {
      position: absolute;
      left: -9999px;
    }

    input[type='checkbox']:checked + label > img {
      border: 1px solid #fff;
      box-shadow: 0 0 3px 3px #eb355c;
    }

    input[type='checkbox'] + label > img {
      margin-top: 1rem;
      cursor: pointer;
      width: 270px;
      height: 270px;
      background-size: contain;
      background-position: center;
      transition: 300ms all;
      border-radius: 50%;
      border: transparent solid 2px;
      box-shadow: var(--box-shadow);
    }
    input[type='checkbox']:checked + label > img {
      transform: scale(1.05);
    }
    input[type='checkbox']:checked + label {
      @include gradientClr();
    }
  }

  &__result {
    color: black;
    font-size: 1.5rem;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    margin-top: 2rem;
    text-align: center;
    @include gradientClr();
    margin-top: 2rem;
    .costanim {
      font-weight: bold;
      opacity: 0;
      transition: opacity 1.2s ease;
    }
  }

  &__buttons {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 3rem;

    button {
      font-family: 'Montserrat', sans-serif;
      border: none;
      cursor: pointer;
      padding: 1rem 1.2rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      color: #e4e4e4;
      text-align: center;
      position: relative;
      transition: all 300ms ease;
      box-shadow: -2px 5px 1rem rgba(black, 0.6);
      font-weight: bold;
      outline: 2px solid black;
      outline-offset: -1px;
      @include gradientClr();
      background: transparent;

      &:active,
      &:hover {
        transform: scale(1.07);
      }

      &:hover::before,
      &:focus::before {
        transform: scale(1);
      }

      &::before {
        position: absolute;
        content: '\f077';
        font-family: 'Font Awesome 5 Free';
        font-weight: bold;
        bottom: 3%;
        font-size: 0.9rem;
        left: 45%;
        transform: scale(0);
        @include gradientClr();
        transition: all 150ms linear;
      }
    }
  }
}
#cost {
  font-weight: bold;
}

#anim1 {
  animation: image1 2.2s ease;
}
#anim2 {
  animation: image2 2s ease;
}

#anim3 {
  animation: image3 1.8s ease;
}
#anim4 {
  animation: image4 1.5s ease;
}
@keyframes image1 {
  0% {
    opacity: 0;
    transform: translateY(-35rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes image2 {
  0% {
    opacity: 0;
    transform: translateY(-30rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes image3 {
  0% {
    opacity: 0;
    transform: translateY(-25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes image4 {
  0% {
    opacity: 0;
    transform: translateY(-20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.youtubeplayer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  display: flex;
}
.hide {
  display: none;
}

@include media('<smd') {
  .main__container {
    &__items {
      gap: 1rem;
      flex-direction: column;
    }
  }
}
