.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 4rem;

  .main--product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 4rem;
    flex-wrap: wrap;
  }
  &__image {
    position: relative;
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-text);
    border: 2px solid var(--color-text);
    border-radius: 1rem;
    padding: 1rem 0.5rem 0rem 0.5rem;
  }
  &__name {
    font-size: 1.7rem;
    font-size: clamp(1.3rem, 3vw, 1.7rem);
  }

  &__description {
    font-size: 1.1rem;
    font-size: clamp(0.9rem, 3vw, 1.1rem);
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .price--wrapper {
    &__price {
      font-weight: bold;
      font-size: 2.2rem;
      font-size: clamp(1.5rem, 3vw, 2.2rem);
    }
  }

  .item--count {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
    font-weight: bold;
    font-weight: 2rem;
    font-size: clamp(1.8rem, 3vw, 2rem);
    width: 30px;
    height: 30px;

    .add,
    .remove {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        text-align: center;
        transition: all 500ms linear;
        font-weight: bold;
        color: var(--color-text);
        background-color: transparent;

        &:hover,
        &:active {
          opacity: 1;
        }

        &:active {
          transform: scale(1.3);
        }
      }
    }

    #quantity {
      transition: all 200ms ease;
    }
    &:active #quantity {
      color: var(--color-underline);
    }
  }

  &__cta {
    font-size: 1rem;
    font-size: clamp(0.9rem, 3vw, 1rem);
    font-weight: bold;
    color: var(--color-text);
    background-color: var(--color-cta);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    margin-bottom: 2rem;
    transition: all 200ms ease;

    &::after {
      content: '\f054';
      font-weight: bold;
      font-family: 'Font Awesome 5 Free';
      font-size: 0.6rem;
      position: absolute;
      background: var(--color-cta);
      -webkit-background-clip: text;
      right: 0.5rem;
      top: 0.85rem;
      transition: transform $anim--speed;
    }
    &:hover::after {
      transform: translateX(5px);
      color: var(--color-underline);
    }
    &:hover {
      color: var(--color-underline);
    }
  }

  .features--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    color: var(--color-text);
    flex-wrap: wrap;
    padding: 2rem;
    text-align: left;
    h3 {
      font-size: 2rem;
      font-size: clamp(1.4rem, 3vw, 2rem);
    }
    p,
    ul {
    }
    font-size: 1.1rem;
    font-size: clamp(0.9rem, 3vw, 1.1rem);

    &__texts {
      gap: 1rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .features__text1 {
        max-width: 700px;
        margin: 1.2rem 0;
      }
      .features__text2 {
        max-width: 700px;
      }
    }
    .inthebox {
      text-align: center;
      width: 300px;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      &__li {
        list-style-type: none;
        margin-top: 1rem;
        font-size: 1.1rem;
        font-size: clamp(0.9rem, 3vw, 1.1rem);
      }
    }
  }

  .product__images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 0.5rem;
    flex-wrap: wrap;

    &--right {
      img {
        width: 450px;
        height: 360px;
      }
    }

    &--left {
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 277px;
        height: 174px;
      }
    }
  }
  .productimage {
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 3px solid var(--color-accent);
  }
  #availability--product {
    bottom: unset;
    top: -1.7rem;
    position: relative;
    font-size: 0.8rem;
    font-size: clamp(0.7rem, 1vw, 0.8rem);
  }
}

@include media('<lg') {
  .product {
    gap: unset;
    .main--product {
      gap: unset;
    }
    .features--wrapper {
      text-align: center;
      .inthebox {
        width: 100%;
        ul {
        }
      }
    }

    &__image {
      max-width: 350px;
      width: 100%;
    }
    &__wrapper {
      width: 100%;
    }

    .product__images {
      margin-top: 3rem;
      img {
        max-width: 300px;
        width: 100%;
        height: unset;
      }
    }
  }
}
