body {
  background: silver;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  position: relative;
  width: 50%;
}

.container__input {
  font-family: 'Montserrat', sans-serif;
  border: 2px solid black;
  background: #e4e4e4;
  outline: none;
  border-radius: 2rem;
  padding: 0.5rem 4rem 0.5rem 4rem;
  text-align: center;
  font-weight: bold;
  -webkit-transition: -webkit-transform 150ms linear;
  transition: -webkit-transform 150ms linear;
  transition: transform 150ms linear;
  transition: transform 150ms linear, -webkit-transform 150ms linear;
}

.container__input:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container__input::-webkit-input-placeholder {
  font-weight: bold;
  color: black;
  opacity: 0.9;
}

.container__input:-ms-input-placeholder {
  font-weight: bold;
  color: black;
  opacity: 0.9;
}

.container__input::-ms-input-placeholder {
  font-weight: bold;
  color: black;
  opacity: 0.9;
}

.container__input::placeholder {
  font-weight: bold;
  color: black;
  opacity: 0.9;
}

.container__input::-webkit-inner-spin-button, .container__input::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

.container span {
  font-size: 3rem;
  color: black;
  font-weight: bold;
}

.container__button, .container__reset {
  color: black;
  font-size: 1.1rem;
  border: 2px solid black;
  font-weight: bold;
  outline: none;
  padding: 0.3rem 2rem 0.3rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.container__button:hover, .container__button:focus, .container__reset:hover, .container__reset:focus {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background: yellowgreen;
}

.container__button:active, .container__reset:active {
  background: yellowgreen;
}

.button__container {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result__container__p {
  border-radius: 0.4rem;
  border: 2px solid black;
  padding: 0.1rem 4rem 0.1rem 4rem;
  font-size: 3rem;
  font-weight: bold;
}
/*# sourceMappingURL=calc.css.map */