@import 'calc';
@import 'equation';
@import 'fruitshop';
@import 'order';
@import 'breakpoints';
@import 'variables';
@import 'product';

// @include media('<lg', '<md') {
//    * {
//       outline: 1px solid red !important;
//    }
// }

html {
  /* width */
  ::-webkit-scrollbar {
    width: 0.8rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-bg);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 0.05rem;
  }

  /* Handle on hover */

  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: var(--color-bg);
  transition: all $anim--speed;
}

.page__container {
  padding: 0 2rem;
}

a {
  font-family: 'Montserrat', sans-serif;
}

// Hide Hamburger menu on Desktop
nav {
  .hamburger-menu {
    display: none;
  }
}
// Hide Hamburger menu on Desktop

// Nav button animations

.link {
  position: relative;
  transition: all $anim--speed;

  &:active {
    transform: scale(1.1);
  }
  &:hover::before {
    transform: scale(1);
  }
}
.link::before {
  content: '';
  position: absolute;
  background: var(--color-underline);
  height: 2.2px;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  transition: opacity $anim--speed, transform $anim--speed;
  transform: scaleX(0);
}

// Nav button animations

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;

  .logo {
    // flex: 1;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 30%;

    svg {
      margin-right: 3rem;
      width: 100%;
      max-width: 70px;
      filter: drop-shadow(4px 5px 4px rgba(0, 0, 0, 0.63));
      fill: var(--color-text);
      transition: all 200ms ease;

      &:hover {
        fill: var(--color-underline);
      }
    }
  }

  .navlinks {
    width: 50%;
  }

  .desktop {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    list-style: none;

    a {
      text-decoration: none;
      color: var(--color-text);
      font-size: 1.2rem;
      font-size: clamp(1rem, 2vw, 1.2rem);
    }
  }

  .mobilebtn {
    list-style: none;
    visibility: hidden;
    right: -0.2rem;
    display: flex;
    z-index: 4;
    border-radius: 0.5rem;
    background: var(--color-mobilemenu);
    justify-content: space-between;
    align-items: center;
    transition: all 700ms ease;

    a {
      font-weight: bold;
      color: var(--color-textdark);
    }
  }

  .theme--wrapper {
    &_btn {
      // margin: 0.2rem 3rem 0rem auto;
      box-shadow: var(--box-shadow);
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;
      position: relative;
      width: 43px;
      height: 22px;
      border: 2px solid var(--color-text);
      outline: none;
      border-radius: 2rem;
      transition: all 350ms ease;
      opacity: 0.9;
      &:hover {
        transform: translatey(2px);
        opacity: 1;
      }

      &::before {
        content: '';
        position: absolute;
        top: 1.2px;
        left: 2px;
        width: 15px;
        height: 15px;
        background: var(--color-text);
        border-radius: 50%;
        transition: all 350ms ease;
      }
      &:checked::before {
        transform: translateX(20px);
        background-color: var(--color-text);
      }
    }
  }
  .cart--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    &__btn {
      background-color: transparent;
      border: none;
      color: var(--color-text);
      cursor: pointer;
      transition: transform 1.5s cubic-bezier(0.16, -0.05, 0.72, 1.33), color 200ms ease;
      font-size: 1.05rem;
      font-size: clamp(0.9rem, 2vw, 1.05rem);
      text-align: center;

      &:hover,
      &:active {
        color: var(--color-underline);
      }
    }
  }
}

.home--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .container {
    height: 55vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    margin-top: 3rem;
    border: 2px solid var(--color-text);
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: -3px 3px 1rem rgba(0, 0, 0, 0.479);

    .availability--text {
      color: var(--color-text);
      font-size: 0.8rem;
      font-size: clamp(0.7rem, 1vw, 0.8rem);
      position: absolute;
      bottom: 0.5rem;
    }

    .content-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      color: var(--color-text);
      gap: 0.3rem;

      &::before {
        position: absolute;
        width: 11px;
        height: 65%;
        background: var(--color-accent);
        right: 102.5%;
        content: '';
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63);
        animation: leftBarLoad 1.5s ease;
        top: 50%;
        transform: translateY(-50%);
      }
      h1 {
        font-weight: bold;
        font-size: 3rem;
        font-size: clamp(1.8rem, 3vw, 3rem);
      }
      p {
        font-size: 1.3rem;
        font-size: clamp(0.9rem, 1.5vw, 1.3rem);
      }

      span {
        margin-top: 0.3rem;
        opacity: 0.7;
        font-size: 0.95rem;
        font-size: clamp(0.8rem, 1.5vw, 0.95rem);
      }
      .price {
        opacity: 1;
        font-weight: bold;
        font-size: 3rem;
        font-size: clamp(1.5rem, 1.5vw, 3rem);
      }
    }

    .card {
      position: relative;
      background: var(--color-card);
      border-radius: 1rem;
      max-width: 100%;
      max-height: 100%;
      width: 600px;
      height: 300px;
      box-shadow: -2px 6px 4px var(--color-buttons);
      display: flex;
      flex-direction: column;
      align-items: center;

      .cardplus {
        margin: auto 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-text);
        text-decoration: none;
        font-size: 1.2rem;
        font-size: clamp(1rem, 3vw, 1.2rem);
        font-weight: bold;
        transition: transform $anim--speed;
        color: var(--color-textdark);

        .plus {
          color: var(--color-textdark);
          font-size: 3rem;
          font-size: clamp(2rem, 3vw, 3rem);
          margin-bottom: 1rem;
        }
        &:hover,
        &:focus img {
          transform: scale(1.2);
        }
      }
    }
  }

  .image-container {
    max-width: 100%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 1rem;
    display: flex;
    pointer-events: none;

    .item--image {
      width: 450px;
      z-index: 3;
      filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.63));
    }

    .tinifyimages {
      width: 300px;
      margin-bottom: 2rem;
    }
  }

  .container2 {
    flex-direction: row-reverse;

    .content-info {
      text-align: right;

      &::before {
        right: -5%;
      }
    }

    .btn--wrapper {
      .btn {
        &::after {
          right: 103%;
          top: 1.1rem;
          content: '\f053';
        }
        &:hover::after {
          transform: translateX(-5px);
        }
      }
    }
  }
}

// Hide Items on load, for each theme!

.bgdark {
  .availability--text {
    opacity: 0.6;
  }
  .blackitems {
    display: unset;
  }
  .whiteitems {
    display: none;
  }
  .add,
  .remove {
    button {
      opacity: 0.8;
    }
  }
}
.bglight {
  .availability--text {
    opacity: 1;
  }
  .whiteitems {
    display: unset;
  }

  .blackitems {
    display: none;
  }

  .add,
  .remove {
    button {
      opacity: 1;
    }
  }
}

.image--anim {
  &--image {
    visibility: hidden;
    animation: ItemsAnim 1s 400ms ease forwards;
  }
}
// Hide Items on load, for each theme!
@keyframes leftBarLoad {
  0% {
    height: 0%;
  }

  100% {
    height: 65%;
  }
}
@keyframes ItemsAnim {
  0% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.btn--wrapper {
  transition: transform 300ms linear;
  position: relative;

  &:hover,
  &:focus {
    transform: translateY(-1.5px);
    color: red;
  }
  .btn {
    font-size: 3rem;
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: bold;
    color: var(--color-cta);
    text-decoration: none;

    &:hover {
      color: var(--color-text);
    }

    &::after {
      content: '\f054';
      font-weight: bold;
      font-family: 'Font Awesome 5 Free';
      font-size: 1.3rem;
      position: absolute;
      background: var(--color-cta);
      -webkit-background-clip: text;
      right: -1rem;
      top: 1.4rem;
      transition: transform $anim--speed;
    }
    &:hover::after {
      transform: translateX(5px);
      color: var(--color-underline);
    }
  }
}

.socials {
  footer {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      font-size: 3rem;
      font-size: clamp(2.6rem, 3vw, 3rem);
      padding: 0.2rem;
      color: var(--color-accent);
      transition: transform $anim--speed, color $anim--speed;
    }

    .icons {
      z-index: 5;
      flex-direction: row;
      display: flex;
      gap: 1rem;
      margin-top: auto;

      &__facebook {
        color: #4267b2;
      }
      &__instagram {
        color: #e1306c;
      }
      &__twitter {
        color: #00acee;
      }

      &__icon {
        &:not(:hover) {
          color: var(--color-socials);
          opacity: 0.95;
        }
        &:hover,
        &:focus {
          transform: scale(1.2);
        }
      }
    }

    .engoa {
      position: relative;

      a {
        color: var(--color-socials);
        font-size: 0.85rem;
        font-size: clamp(0.75rem, 1vw, 0.85rem);
        font-weight: bold;
        opacity: 0.7;
        text-decoration: none;
        transition: all 150ms linear;

        &:hover {
          opacity: 1;
        }
      }
      &::before {
        content: '';
        position: absolute;
        background: var(--color-text);
        width: 0%;
        top: 50%;
        transform: translateY(50%);
        right: 0;
        left: 0;
        height: 2px;
        transition: width 150ms linear;
        pointer-events: none;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }
}
.gototop {
  opacity: 0;
  position: fixed;
  bottom: 2%;
  right: 6.5%;
  z-index: 99;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--color-text);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;

  &--cta {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-size: (0.7rem, 3vw, 1.2rem);
    transition: all 300ms ease;
    color: var(--color-bg);
  }
}

// @include media('<lg', '<md') {
//    * {
//       outline: 1px solid red !important;
//    }
// }

// Media Queries!
@include media('<xl') {
  .container {
    .card {
      width: 350px;
      height: 250px;
      margin-bottom: 2rem;
    }
    .image-container {
      .item--image {
        width: 330px;
      }
    }
  }
}

@include media('<lg') {
  .home--container {
    gap: 10rem;
    flex-direction: column;
    .container {
      .content-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        .btn {
          &::after {
            right: -1rem;
            top: 0.8rem;
          }
        }
      }
      .card {
        width: 450px;
        height: 200px;
        margin-bottom: 2rem;
      }

      .image-container {
        right: 50%;
        bottom: -6.5rem;
        transform: translate(50%, 50%);

        .item--image {
          width: 250px;
        }
        .tinifyimages {
          width: 200px;
          margin-top: 2.5rem;
        }
      }
    }
  }
}
@include media('<md') {
  .home--container {
    .container {
      flex-direction: column;
      .content-info {
        &::before {
          width: 10px;
        }

        .btn {
          &::after {
            font-size: 1rem;
            top: 0.8rem;
          }
        }
      }
      .card {
        height: 170px;
        width: 270px;
      }
      .image-container {
        right: 51%;
        bottom: -6rem;
        transform: translate(50%, 50%);

        .item--image {
          width: 240px;
        }
        .tinifyimages {
          width: 190px;
        }
      }
    }
  }

  .gototop {
    width: 35px;
    height: 35px;
  }

  nav {
    position: relative;

    .desktop {
      visibility: hidden;
      a {
        font-size: 0; // Font size to 0 so desktop nav links don't take up width on mobile
      }
    }
    .mobilebtn {
      visibility: visible;
      a {
        font-size: 0.7rem;
      }
    }
    .hamburger-menu {
      font-size: 1.25rem;
      color: var(--color-text);
      cursor: pointer;
      display: flex;
      transition: transform $anim--speed;
      position: absolute;
      right: 0;

      &:hover,
      &:active {
        transform: scale(1.2);
      }
    }

    .cart--wrapper {
      &__btn {
        width: 30px;
        height: 30px;
        transition: all 1s cubic-bezier(0.16, -0.05, 0.72, 1.33);
      }
    }
  }
}
