@import 'calc';
@import 'equation';
@import 'fruitshop';
@import 'order';
@import 'breakpoints';

// @include media('<lg', '<md') {
//    * {
//       outline: 1px solid red !important;
//    }
// }

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
:root {
  --color-text-light: rgba(0, 0, 0, 0.9);
  --color-main: linear-gradient(to right top, #b13c89, #bb4382, #c34c7c, #c95677, #ce6073);
  --color-main2: linear-gradient(to right top, #65dfc9, #6cdbeb);
  --color-btn: linear-gradient(to left, #b13c89, #bb4382, #c34c7c, #c95677, #d86c7e);
  --color-btn2: linear-gradient(to left, #d1399c, #b43677, #d83d7b, #d3436c, #e04b63);
  --darkmode-bg: hsl(230, 17%, 14%);
  --darkmode-card: hsl(232, 19%, 15%);
  --darkmode-card2: hsl(228, 28%, 20%);
  --darkmode-cta: hsl(228, 34%, 66%);
  --darkmode-text: #e4e4e4e1;
  --box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.205);
  --anim-speed: 300ms ease;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: var(--darkmode-bg);
}

a {
  font-family: 'Montserrat', sans-serif;
}

// Hide Hamburger menu on Desktop
nav {
  .hamburger-menu {
    display: none;
  }
}
// Hide Hamburger menu on Desktop

// Nav button animations

.link {
  position: relative;

  &:hover,
  &:focus {
    font-weight: bold;
  }
  &:hover::before {
    transform: scale(1);
  }
}
.link::before {
  content: '';
  position: absolute;
  background: var(--darkmode-text);
  height: 2.2px;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  transition: opacity var(--anim-speed), transform var(--anim-speed);
  transform: scaleX(0);
}

// Nav button animations

nav {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  .logo {
    flex: 1;

    svg {
      max-width: 100%;
      width: 4rem;
      filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.63));
      fill: var(--darkmode-text);
    }
  }

  .navlinks {
    flex: 3;
  }

  .desktop {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    list-style: none;

    a {
      text-decoration: none;
      color: var(--darkmode-text);
      font-size: 1.55rem;
      font-size: clamp(1.4rem, 2vw, 1.55rem);
    }
  }

  .mobilebtn {
    list-style: none;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 2.4rem;
    right: -0.2rem;
    display: flex;
    z-index: 4;
    padding: 1rem 1.2rem 1rem 1.2rem;
    border-radius: 0.5rem;
    background: var(--darkmode-cta);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: 500ms ease;

    a {
      font-weight: bold;
      font-size: 0.73rem;
      color: var(--darkmode-text);
    }
  }
}

.container {
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin: auto;

  .content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    margin-right: 2rem;
    position: relative;
    color: var(--darkmode-text);

    &::before {
      position: absolute;
      width: 11px;
      height: 100%;
      background: var(--darkmode-cta);
      left: -5%;
      top: 0.5rem;
      content: '';
      box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63);
      animation: bar-load 1.5s ease;
    }

    h1 {
      font-weight: bold;
      font-size: clamp(1.8rem, 3vw, 4rem);
    }
    p {
      font-size: clamp(1rem, 1.8vw, 1.8rem);
    }

    span {
      margin-top: 0.3rem;
      opacity: 0.7;
      font-size: 0.95rem;
    }
    .price {
      opacity: 1;
      font-weight: bold;
      font-size: clamp(2rem, 3vw, 3.5rem);
    }
  }

  .card {
    position: relative;
    z-index: -4;
    background: var(--darkmode-card2);
    border-radius: 1rem;
    height: 35vh;
    width: 40vw;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;

    .cardplus {
      margin: auto 0;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--darkmode-text);
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: bold;
      transition: transform var(--anim-speed);

      img {
        transform: scale(0.8);
      }
      &:hover,
      &:focus img {
        transform: scale(1.2);
      }
    }
  }
}

.image-container {
  width: 70vh;
  position: absolute;
  right: 27%;
  bottom: 5%;
  display: flex;

  img {
    width: 90%;
    z-index: 3;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.63));
    animation: loadPage 1.5s ease;
  }
}
@keyframes loadPage {
  0% {
    transform: translateY(-20rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bar-load {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

.cta {
  margin-left: 2rem;
  margin-top: 1rem;
  .btn {
    background: var(--darkmode-cta);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: bold;
    position: relative;

    &::after {
      content: '\f054';
      font-weight: bold;
      font-family: 'Font Awesome 5 Free';
      font-size: 1.3rem;
      position: absolute;
      background: var(--darkmode-cta);
      -webkit-background-clip: text;
      right: -1.2rem;
      top: 1.5rem;
      transform: translateX(0);
      transition: transform var(--anim-speed);
    }
    &:hover::after {
      transform: translateX(5px);
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  gap: 0.2rem;
  a {
    font-size: 3rem;
    font-size: clamp(2.6rem, 3vw, 3rem);
    padding: 0.2rem;
    color: var(--color-accent);
    transition: transform var(--anim-speed), color var(--anim-speed);
  }

  .icons {
    z-index: 5;
    flex-direction: row;
    display: flex;
    gap: 1rem;
    margin-top: auto;

    &__facebook {
      color: #4267b2;
    }
    &__instagram {
      color: #e1306c;
    }
    &__twitter {
      color: #00acee;
    }

    &__icon:not(:hover) {
      color: var(--darkmode-text);
      opacity: 0.85;
    }

    // Scale on Hover for all social icons
    &__icon:hover,
    &__icon:focus {
      transform: scale(1.2);
    }
    // Scale on Hover for all social icons
  }

  .engoa {
    position: relative;
    margin-bottom: 3rem;

    a {
      color: var(--darkmode-text);
      font-size: 0.85rem;
      font-size: clamp(0.75rem, 1vw, 0.85rem);
      font-weight: bold;
      opacity: 0.3;
      text-decoration: none;
      transition: all 150ms linear;

      &:hover {
        opacity: 1;
      }
    }
    &::before {
      content: '';
      position: absolute;
      background: var(--darkmode-text);
      width: 0%;
      top: 50%;
      transform: translateY(50%);
      right: 0;
      left: 0;
      height: 2px;
      transition: width 150ms linear;
      pointer-events: none;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.gototop {
  opacity: 0;
  position: fixed;
  bottom: 1rem;
  right: 2.5%;
  z-index: 99;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--darkmode-text);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &--cta {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.45rem;
    transition: all 300ms ease;
    background: transparent;
    color: var(--darkmode-card2);

    &:hover {
      @include gradientClr;
    }
  }
}
@media only screen and (max-width: 1600px) {
  .container {
    .image-container {
      width: 55vh;
      right: 30%;
      bottom: 20%;
    }
  }
}

@media only screen and (max-width: 1300px) {
  @keyframes bar-load {
    0% {
      height: 0%;
    }

    100% {
      height: 75%;
    }
  }
  .container {
    .image-container {
      width: 50vh;
      right: 5%;
      bottom: 10rem;
      transform: rotate(10deg);
    }
    flex-direction: column;
    .content-info {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      .btn {
        margin-right: 2.2rem;
      }
      &::before {
        height: 30vh;
        width: 13px;
        margin-top: 3rem;
        left: -2rem;
      }
    }
    .card {
      width: 60vw;
      height: 30vh;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 950px) {
  // Hide go to top button when on mobile
  .gototop {
    display: none;
  }
  // Hide go to top button when on mobile

  @keyframes bar-load {
    0% {
      height: 0%;
    }

    100% {
      height: 85%;
    }
  }

  nav {
    .desktop {
      visibility: hidden;
      a {
        font-size: 0; // Font size to 0 so desktop nav links don't take up width on mobile
      }
    }
    .mobilebtn {
      visibility: visible;
      a {
        font-size: 0.7rem;
      }
    }
  }
  .container {
    .image-container {
      transform: rotate(0deg);
      max-width: 80%;
      position: relative;
      bottom: 60%;
      right: -2.6%;

      img {
        max-width: 90%;
        position: absolute;
      }
    }
    .card {
      width: 70vw;
      height: 25vh;
      position: relative;
      top: 6.5rem;
      margin-top: 5rem;
    }
    .content-info {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .price {
        margin-top: 1rem;
      }
      .btn {
        margin-right: 2.8rem;
        font-size: 2rem;

        &::after {
          font-size: 1rem;
          top: 0.5rem;
        }
      }
    }
  }

  nav {
    position: relative;

    .hamburger-menu {
      font-size: 1.3rem;
      color: var(--darkmode-text);
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0.6rem;
      display: block;
      transition: transform var(--anim-speed);

      &:hover,
      &:active {
        transform: scale(1.2);
      }
    }

    .link::before {
      background: white;
    }
  }
  .icons {
    &__icon:active {
      color: black;
    }
  }
  @keyframes loadPage {
    0% {
      transform: translateY(-12rem);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 340px) {
  nav {
    .mobilebtn {
      a {
        font-size: 0.65rem;
      }
    }
  }
  .image-container {
    bottom: 55%;

    img {
      top: 1.3rem;
    }
  }
}
