.calc__container h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.6rem;
}

.input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin: 2rem 1rem 2rem 1rem;
  position: relative;
}

.input__container__input {
  font-family: 'Montserrat', sans-serif;
  border: 3px solid black;
  background: #e4e4e4;
  outline: none;
  border-radius: 2rem;
  padding: 0.5rem 4rem 0.5rem 4rem;
  text-align: center;
  font-weight: bold;
  -webkit-transition: -webkit-transform 150ms linear;
  transition: -webkit-transform 150ms linear;
  transition: transform 150ms linear;
  transition: transform 150ms linear, -webkit-transform 150ms linear;
}

.input__container__input:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.input__container__input::-webkit-input-placeholder {
  font-weight: bold;
  color: black;
  opacity: 0.7;
}

.input__container__input:-ms-input-placeholder {
  font-weight: bold;
  color: black;
  opacity: 0.7;
}

.input__container__input::-ms-input-placeholder {
  font-weight: bold;
  color: black;
  opacity: 0.7;
}

.input__container__input::placeholder {
  font-weight: bold;
  color: black;
  opacity: 0.7;
}

.input__container__input::-webkit-inner-spin-button, .input__container__input::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

.input__container span {
  font-size: 3rem;
  color: black;
  font-weight: bold;
}

.input__container .button__container {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input__container .button__container__btn {
  color: black;
  font-size: 1.1rem;
  border: 3px solid black;
  font-weight: bold;
  outline: none;
  padding: 0.3rem 2rem 0.3rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.input__container .button__container__btn:hover, .input__container .button__container__btn:focus {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background: yellowgreen;
}

.input__container .button__container__btn:active {
  background: rgba(7, 48, 228, 0.699);
}

.result__container__p {
  border-radius: 0.4rem;
  border: 3px solid black;
  padding: 0.1rem 4rem 0.1rem 4rem;
  font-size: 3rem;
  font-weight: bold;
}

.equation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
  gap: 2rem;
}

.equation__container__input {
  font-family: 'Montserrat', sans-serif;
  border: 3px solid black;
  background: #e4e4e4;
  outline: none;
  border-radius: 2rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-align: center;
  font-weight: bold;
  -webkit-transition: -webkit-transform 150ms linear;
  transition: -webkit-transform 150ms linear;
  transition: transform 150ms linear;
  transition: transform 150ms linear, -webkit-transform 150ms linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.equation__container__input:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.equation__container__input::-webkit-input-placeholder {
  font-weight: bold;
  color: black;
  opacity: 0.6;
}

.equation__container__input:-ms-input-placeholder {
  font-weight: bold;
  color: black;
  opacity: 0.6;
}

.equation__container__input::-ms-input-placeholder {
  font-weight: bold;
  color: black;
  opacity: 0.6;
}

.equation__container__input::placeholder {
  font-weight: bold;
  color: black;
  opacity: 0.6;
}

.equation__container__input::-webkit-inner-spin-button, .equation__container__input::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

.equation__container__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.equation__container__calc {
  color: black;
  font-size: 1.3rem;
  border: 3px solid black;
  font-weight: bold;
  outline: none;
  padding: 0.2rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.equation__container__calc:hover, .equation__container__calc:focus {
  background: yellowgreen;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.equation__container__calc:active {
  background: rgba(7, 48, 228, 0.699);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.image__container img {
  width: 70%;
}

:root {
  --color-accent: rgba(0, 0, 0, 0.9);
  --color-main: linear-gradient(to right top, #b13c89, #bb4382, #c34c7c, #c95677, #ce6073);
  --color-btn: linear-gradient(to left, #b13c89, #bb4382, #c34c7c, #c95677, #ce6073);
  --box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.63);
  --anim-speed: 300ms ease;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: silver;
}

a {
  font-family: 'Montserrat', sans-serif;
}

nav .hamburger-menu {
  display: none;
}

.links {
  -webkit-transition: opacity var(--anim-speed);
  transition: opacity var(--anim-speed);
}

.link {
  position: relative;
}

.link:hover, .link:focus {
  font-weight: bold;
}

.link:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.link::before {
  content: '';
  position: absolute;
  background: var(--color-main);
  height: 2.2px;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  -webkit-transition: opacity var(--anim-speed), -webkit-transform var(--anim-speed);
  transition: opacity var(--anim-speed), -webkit-transform var(--anim-speed);
  transition: opacity var(--anim-speed), transform var(--anim-speed);
  transition: opacity var(--anim-speed), transform var(--anim-speed), -webkit-transform var(--anim-speed);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

nav {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

nav .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .logo img {
  max-width: 7rem;
  -webkit-filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.63));
          filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.63));
}

nav .navlinks {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-top: 1rem;
}

nav .links a {
  text-decoration: none;
  color: var(--color-accent);
  font-size: 1.5rem;
}

nav .link {
  margin-top: -1rem;
}

.container {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.container .content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2rem;
  position: relative;
}

.container .content-info::before {
  position: absolute;
  width: 11px;
  height: 100%;
  background: var(--color-main);
  left: -5%;
  top: 0.5rem;
  content: '';
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63);
  -webkit-animation: bar-load 1.5s ease;
          animation: bar-load 1.5s ease;
}

.container .content-info h1 {
  font-weight: bold;
  font-size: 5rem;
  color: var(--color-main);
}

.container .content-info p {
  font-size: 2rem;
}

.container .content-info span {
  margin-top: 0.5rem;
  opacity: 0.6;
  font-size: 0.95rem;
}

.container .content-info .price {
  opacity: 1;
  font-weight: bold;
  font-size: 3.5rem;
}

.container .card {
  background: var(--color-main);
  border-radius: 1rem;
  height: 35vh;
  width: 40vw;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card a {
  margin: auto 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.container .card a img {
  max-width: 70%;
  margin-bottom: 1rem;
  -webkit-filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.63));
          filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.63));
}

.content-info {
  position: relative;
}

#image-container {
  width: 70vh;
  position: absolute;
  right: 33%;
  bottom: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#image-container img {
  width: 90%;
  margin: 0 auto;
  z-index: 3;
  -webkit-filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.63));
          filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.63));
  -webkit-animation: loadPage 1.5s ease;
          animation: loadPage 1.5s ease;
}

@-webkit-keyframes loadPage {
  0% {
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loadPage {
  0% {
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes bar-load {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes bar-load {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.cta {
  margin-left: 2rem;
  margin-top: 1rem;
}

.cta .btn {
  background: var(--color-btn);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
}

.cta .btn::after {
  content: '\f054';
  font-weight: bold;
  font-family: 'Font Awesome 5 Free';
  font-size: 1.3rem;
  position: absolute;
  background: var(--color-main);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  right: -1.2rem;
  top: 1.5rem;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform var(--anim-speed);
  transition: -webkit-transform var(--anim-speed);
  transition: transform var(--anim-speed);
  transition: transform var(--anim-speed), -webkit-transform var(--anim-speed);
}

.cta .btn:hover::after {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.cardplus {
  -webkit-transition: font-weight var(--anim-speed), -webkit-transform var(--anim-speed);
  transition: font-weight var(--anim-speed), -webkit-transform var(--anim-speed);
  transition: transform var(--anim-speed), font-weight var(--anim-speed);
  transition: transform var(--anim-speed), font-weight var(--anim-speed), -webkit-transform var(--anim-speed);
}

.cardplus img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.cardplus:hover,
.cardplus:focus img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-weight: bold;
}

footer {
  margin-top: 5rem;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6rem;
  position: relative;
  z-index: 5;
  margin-top: 5rem;
}

footer a {
  margin-top: 1rem;
  font-size: 3.5rem;
  padding: 1rem;
  color: var(--color-accent);
  -webkit-transition: color var(--anim-speed), -webkit-transform var(--anim-speed);
  transition: color var(--anim-speed), -webkit-transform var(--anim-speed);
  transition: transform var(--anim-speed), color var(--anim-speed);
  transition: transform var(--anim-speed), color var(--anim-speed), -webkit-transform var(--anim-speed);
}

.icons__facebook {
  color: #4267b2;
}

.icons__instagram {
  color: #e1306c;
}

.icons__twitter {
  color: #00acee;
}

.icons__icon:not(:hover), .icons__icon:active {
  color: black;
}

.icons__icon:hover, .icons__icon:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 1900px) {
  .container .content-info h1 {
    font-size: 3rem;
  }
  .container .content-info p {
    font-size: 1.4rem;
  }
  #image-container {
    width: 45vh;
    right: 30%;
    bottom: 25%;
  }
}

@media only screen and (max-width: 1900px) and (max-width: 1200px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .content-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .container .content-info h1 {
    font-size: 4rem;
  }
  .container .content-info p {
    font-size: 1.5rem;
  }
  .container .content-info .price {
    margin: 0;
  }
  .container .content-info .btn {
    margin-right: 2.2rem;
  }
  .container .content-info::before {
    height: 30vh;
    width: 13px;
    margin-top: 0.5rem;
    left: -1.5rem;
  }
  .container .card {
    width: 60vw;
    height: 30vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #image-container {
    width: 40vh;
    right: 2rem;
    bottom: 10rem;
  }
}

@media only screen and (max-width: 1900px) and (max-width: 950px) {
  .container .card {
    width: 70vw;
    height: 25vh;
    position: relative;
    top: 6.5rem;
    margin-top: 5rem;
  }
  .container .content-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .container .content-info h1 {
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
  }
  .container .content-info p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .container .content-info .price {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .container .content-info .btn {
    margin-right: 2.8rem;
    font-size: 2rem;
  }
  .container .content-info .btn::after {
    font-size: 1rem;
    top: 0.5rem;
  }
  #image-container {
    max-width: 80%;
    position: relative;
    margin-right: 1.5rem;
    bottom: 55%;
    z-index: -3;
  }
  #image-container img {
    z-index: 4;
    max-width: 90%;
    position: absolute;
    top: -1rem;
    right: -2rem;
  }
  nav {
    position: relative;
  }
  nav .hamburger-menu {
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    right: 0;
    top: 1.27rem;
    display: block;
    -webkit-transition: -webkit-transform var(--anim-speed);
    transition: -webkit-transform var(--anim-speed);
    transition: transform var(--anim-speed);
    transition: transform var(--anim-speed), -webkit-transform var(--anim-speed);
  }
  nav .hamburger-menu:hover, nav .hamburger-menu:active {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  nav .links {
    position: absolute;
    top: 2.5rem;
    width: 97%;
    top: 2rem;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 4;
    padding: 2rem 0.5rem 1.2rem 0.5rem;
    border-radius: 0.4rem;
    background: var(--color-main);
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }
  nav #menuList a {
    font-weight: bold;
    font-size: 0.8rem;
    color: white;
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  nav .link::before {
    background: white;
    bottom: -0.5rem;
  }
}

@media only screen and (max-width: 1900px) {
  @-webkit-keyframes load {
    0% {
      -webkit-transform: translateY(-12rem);
              transform: translateY(-12rem);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes load {
    0% {
      -webkit-transform: translateY(-12rem);
              transform: translateY(-12rem);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 340px) {
  #image-container {
    bottom: 55%;
  }
  #image-container img {
    top: 1.3rem;
  }
}
/*# sourceMappingURL=main.css.map */