.calc__container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: clamp(0.6rem, 3vw, 1.3rem);
  margin: 1rem;
  margin-top: 3rem;
  color: var(--color-text);
  font-style: italic;
}

.calc__container__header p {
  font-size: 1rem;
}

.input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.input__container .input--rounded {
  border: 2px solid var(--color-cta);
  color: var(--color-text);
  background-color: var(--color-bg);
  outline: none;
  border-radius: 2rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-align: center;
  font-weight: bold;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__container .input--rounded:focus {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  border: 2px solid var(--color-text);
}

.input__container .input--rounded::-webkit-input-placeholder {
  font-weight: bold;
  color: var(--color-text);
  opacity: 0.6;
  font-size: 0.9rem;
}

.input__container .input--rounded:-ms-input-placeholder {
  font-weight: bold;
  color: var(--color-text);
  opacity: 0.6;
  font-size: 0.9rem;
}

.input__container .input--rounded::-ms-input-placeholder {
  font-weight: bold;
  color: var(--color-text);
  opacity: 0.6;
  font-size: 0.9rem;
}

.input__container .input--rounded::placeholder {
  font-weight: bold;
  color: var(--color-text);
  opacity: 0.6;
  font-size: 0.9rem;
}

.input__container .input--rounded::-webkit-inner-spin-button, .input__container .input--rounded::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

.input__container .button__container {
  gap: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input__container .button__container .btn--rounded {
  font-size: 1.1rem;
  border: 2px solid var(--color-cta);
  color: var(--color-text);
  background-color: var(--color-bg);
  outline: none;
  padding: 0.3rem 2rem 0.3rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.input__container .button__container .btn--rounded:hover, .input__container .button__container .btn--rounded:focus {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.input__container .button__container .btn--rounded:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.input__container .button__container .btn--rounded:hover .button__container__icon,
.input__container .button__container .btn--rounded:focus .button__container__icon {
  opacity: 1;
}

.input__container .button__container .btn--rounded:active .button__container__icon {
  opacity: 1;
}

.input__container .button__container__icon {
  opacity: 0.8;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
}

.input__container .button__container .btn--calc {
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.result__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.result__container__text {
  color: var(--color-text);
  font-size: 1.45rem;
  font-size: clamp(1.2rem, 3vw, 1.45rem);
  font-weight: bold;
}

.result__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result__container__equation {
  font-size: 2rem;
}

.image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
  max-width: 100%;
}

.image__container svg {
  width: 30rem;
  height: 10rem;
}

.image__container svg * {
  fill: var(--color-text);
}

.image__container svg *:hover * {
  fill: var(--color-underline);
}

.input__container .input__container__dropdown {
  border-radius: 2rem;
  padding: 0.1rem 1rem;
  outline: none;
  border: 2px solid var(--color-cta);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 0;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.73em top 50%;
  background-size: 0.6em auto;
  background-color: var(--color-bg);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-align-last: center;
  text-align: center;
}

.input__container .input__container__dropdown:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.input__container .input__container__dropdown:focus-within, .input__container .input__container__dropdown:active {
  width: 250px;
  color: var(--color-text);
}

.input__container #kg {
  padding: 0.3rem 3rem;
}

.input__container__label {
  color: var(--color-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.input__container #appleimg img * {
  fill: greenyellow;
}

.main__container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
}

.main__container__wrapper {
  background-color: var(--color-accent);
  max-width: 450px;
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: var(--box-shadow-wrapper);
          box-shadow: var(--box-shadow-wrapper);
}

.main__container__input--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  width: 100%;
  max-width: calc(500px - 2rem);
}

.main__container__input--wrapper:focus-within label {
  font-weight: bold;
}

.main__container__header {
  color: var(--color-textdark);
}

.main__container__label {
  color: var(--color-textdark);
  font-size: 1.2rem;
  font-size: clamp(1rem, 3vw, 1.2rem);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  text-align: left;
}

.main__container__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  border: 2px solid var(--color-cta);
  outline: none;
  width: 240px;
  padding: 0.5rem 0.1rem;
  padding-left: 0.1rem;
  border-radius: 1.5rem;
  font-size: 16px;
  color: var(--color-text);
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  margin-left: auto;
  background-color: var(--color-bg);
  text-align: center;
}

.main__container__input:focus-within, .main__container__input:active {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  font-weight: bold;
  border: 2px solid var(--color-socials);
}

.main__container__select {
  font-size: 16px;
  border-radius: 2rem;
  border: 2px solid var(--color-cta);
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 240px;
  padding: 0.5rem 0.1rem;
  padding-left: 0.1rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  margin-left: auto;
  background-color: var(--color-bg);
  color: var(--color-text);
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}

.main__container__select:focus-within, .main__container__select:active {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  font-weight: bold;
  border: 2px solid var(--color-socials);
}

.main__container__select:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.main__container__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.main__container__items__chevron {
  font-size: 1.5rem;
  font-size: clamp(1.35rem, 2vw, 1.5rem);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  color: var(--color-text);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.main__container__items label {
  color: var(--color-text);
  font-size: 1.5rem;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: 160px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.main__container__items label:hover .main__container__items__chevron,
.main__container__items label:focus .main__container__items__chevron {
  -webkit-transform: translateY(5px) scale(1.05);
          transform: translateY(5px) scale(1.05);
}

.main__container__items label:hover, .main__container__items label:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.main__container__items__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__container__items__hidden {
  position: absolute;
  left: -9999px;
}

.main__container__items input[type='checkbox'] + label > img {
  margin-top: 1rem;
  cursor: pointer;
  width: 270px;
  height: 270px;
  background-size: contain;
  background-position: center;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  border-radius: 50%;
  border: transparent solid 2px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border: 5px solid var(--color-text);
}

.main__container__items input[type='checkbox']:checked + label > img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: 5px solid var(--color-accent);
}

.main__container__items input[type='checkbox']:checked + label {
  color: var(--color-checkbox);
}

.main__container__result {
  font-size: 1.5rem;
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  margin-top: 2rem;
  text-align: center;
  color: var(--color-text);
  margin-top: 2rem;
}

.main__container__result .costanim {
  font-weight: bold;
  opacity: 0;
  -webkit-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;
}

.main__container__buttons {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5rem;
  margin-top: 3rem;
}

.main__container__buttons button {
  border: none;
  cursor: pointer;
  padding: 1rem 1.2rem;
  font-size: 16px;
  text-align: center;
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  font-weight: bold;
  border-radius: 0.5rem;
  color: var(--color-buttons);
  background-color: var(--color-textdark);
}

.main__container__buttons button:active, .main__container__buttons button:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.main__container__buttons button:hover::before, .main__container__buttons button:focus::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main__container__buttons button::before {
  position: absolute;
  content: '\f077';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  bottom: 3%;
  font-size: 0.9rem;
  left: 45%;
  -webkit-transform: scale(0);
          transform: scale(0);
  color: var(--color-buttons);
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

#anim1 {
  -webkit-animation: image1 2.2s ease;
          animation: image1 2.2s ease;
}

#anim2 {
  -webkit-animation: image2 2s ease;
          animation: image2 2s ease;
}

#anim3 {
  -webkit-animation: image3 1.8s ease;
          animation: image3 1.8s ease;
}

#anim4 {
  -webkit-animation: image4 1.5s ease;
          animation: image4 1.5s ease;
}

@-webkit-keyframes image1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-35rem);
            transform: translateY(-35rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes image1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-35rem);
            transform: translateY(-35rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes image2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30rem);
            transform: translateY(-30rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes image2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30rem);
            transform: translateY(-30rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes image3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25rem);
            transform: translateY(-25rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes image3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25rem);
            transform: translateY(-25rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes image4 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes image4 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 899px) {
  .main__container {
    padding: 1rem;
  }
  .main__container__items {
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__container__input {
    width: unset;
    width: 180px;
  }
  .main__container__select {
    width: 180px;
  }
  .main__container__wrapper {
    padding: 1rem;
  }
  .main__container__input--wrapper {
    margin: 1rem auto;
    max-width: 340px;
  }
  .main__container input[type='checkbox'] + label > img {
    width: 230px;
    height: 230px;
  }
}

.bgdark {
  --color-bg: hsl(230, 17%, 14%);
  --color-card: hsl(230, 34%, 40%);
  --color-accent: hsl(230, 34%, 40%);
  --color-cta: hsla(228, 28%, 54%, 0.897);
  --color-cta2: rgba(60, 73, 128, 0.918);
  --color-text: #e4e4e4d2;
  --color-textdark: #e4e4e4d2;
  --color-underline: #fe5000;
  --color-buttons: hsl(230, 17%, 14%);
  --color-checkbox: hsl(230, 34%, 40%);
  --color-socials: #e4e4e4d2;
  --color-mobilemenu: hsl(230, 34%, 40%);
}

.bglight {
  --color-bg: #cecece;
  --color-card: hsl(230, 26%, 19%);
  --color-accent: hsla(230, 17%, 14%, 0.952);
  --color-cta: hsla(228, 28%, 54%, 0.911);
  --color-cta2: rgba(60, 73, 128, 0.918);
  --color-text: hsl(230, 17%, 14%);
  --color-textdark: #e4e4e4d2;
  --color-underline: hsla(234, 67%, 48%, 0.74);
  --color-buttons: hsl(230, 17%, 14%);
  --color-checkbox: hsl(230, 34%, 40%);
  --color-socials: hsl(230, 23%, 15%);
  --color-mobilemenu: hsl(229, 30%, 24%);
}

:root {
  --box-shadow: -3px 6px 6px rgba(0, 0, 0, 0.253);
  --box-shadow-wrapper: -7px 7px 6px rgba(0, 0, 0, 0.205);
  --color-btn: linear-gradient(to left, #b13c89, #bb4382, #c34c7c, #c95677, #d86c7e);
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  gap: 4rem;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.product .main--product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__image {
  max-width: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__wrapper {
  gap: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: var(--color-text);
  border: 2px solid var(--color-text);
  border-radius: 1rem;
  padding: 1rem 2rem 0rem 2rem;
}

.product__name {
  font-size: 1.7rem;
  font-size: clamp(1.4rem, 3vw, 1.7rem);
}

.product__description {
  font-size: 1.2rem;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.product .price--wrapper__price {
  font-weight: bold;
  font-size: 2.2rem;
  font-size: clamp(1.5rem, 3vw, 2.2rem);
}

.product .item--count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  font-weight: bold;
  font-weight: 1.6rem;
  font-size: clamp(1.3rem, 3vw, 1.6rem);
}

.product .item--count .add,
.product .item--count .remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product .item--count .add button,
.product .item--count .remove button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  font-weight: bold;
  color: var(--color-text);
  background: var(--color-bg);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

.product .item--count .add button:hover, .product .item--count .add button:active,
.product .item--count .remove button:hover,
.product .item--count .remove button:active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: var(--color-underline);
  opacity: 1;
}

.product .item--count #remove:hover, .product .item--count #remove:active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.product .item--count #quantity {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.product .item--count:active #quantity {
  color: var(--color-underline);
}

.product__cta {
  font-size: 1.1rem;
  font-size: clamp(1.1rem, 3vw, 1.1rem);
  font-weight: bold;
  color: var(--color-textdark);
  background: var(--color-card);
  padding: 0.5rem 1em;
  border-radius: 0.5rem;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.product__cta::after {
  content: '\f054';
  font-weight: bold;
  font-family: 'Font Awesome 5 Free';
  font-size: 0.7rem;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.product__cta:hover::after {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: var(--color-underline);
}

.product__cta:hover {
  color: var(--color-textdark);
}

.product .features--wrapper {
  color: var(--color-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  font-size: clamp(0.9rem, 3vw, 1.1rem);
}

.product .features--wrapper h3 {
  font-size: 2rem;
  font-size: clamp(1.4rem, 3vw, 2rem);
}

.product .features--wrapper__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.product .features--wrapper__texts .features__text1,
.product .features--wrapper__texts .features__text2 {
  max-width: 700px;
}

.product .features--wrapper .inthebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: auto;
}

.product .features--wrapper .inthebox ul {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product .features--wrapper .inthebox__li {
  list-style-type: none;
  font-size: 1.2rem;
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.product .product__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.5rem;
  width: 100%;
}

.product .product__images--right {
  width: 50%;
  max-width: 375px;
}

.product .product__images--right img {
  width: 100%;
}

.product .product__images--left {
  gap: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product .product__images--left img {
  width: 277.5px;
  height: 180.055px;
}

.product .productimage {
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid var(--color-accent);
}

.product #availability--product {
  font-size: 0.7rem;
  font-size: clamp(0.6rem, 1vw, 0.7rem);
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
}

@media (max-width: 1199px) {
  .product {
    gap: 4rem;
  }
  .product .main--product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: unset;
  }
  .product .product__wrapper {
    margin-top: 2rem;
  }
  .product .features--wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    max-width: 786px;
  }
  .product .features--wrapper .inthebox {
    width: 100%;
    margin-top: 2rem;
  }
  .product__image {
    width: 100%;
    max-width: 350px;
  }
  .product .product__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 280px;
  }
  .product .product__images--right {
    width: 100%;
    height: unset;
  }
  .product .product__images img {
    width: 100%;
    height: unset;
  }
}

nav .cart--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.2rem;
}

nav .cart--wrapper__btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0.9;
}

nav .cart--wrapper__btn:hover {
  -webkit-transform: translatey(1px);
          transform: translatey(1px);
  opacity: 1;
}

nav .cart--wrapper__btn svg * {
  fill: var(--color-text);
}

nav .cart--wrapper .cart__quantity {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  text-align: center;
}

nav .cart--wrapper .cart__quantity:hover {
  background-color: var(--color-cta);
}

nav .cart--wrapper .cart__quantity__text {
  cursor: pointer;
  color: var(--color-bg);
  font-weight: bold;
  font-size: 0.9rem;
  z-index: 2;
}

.modal__overlay {
  position: absolute;
  inset: 0;
  min-height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.565);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
  position: fixed;
  inset: 0;
  z-index: 5;
}

.modal {
  padding: 1rem;
  top: 96px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: var(--color-bg);
  border: 2px solid var(--color-text);
  min-height: 500px;
  max-height: 500px;
  max-width: 500px;
  z-index: 150;
  position: fixed;
  overflow: scroll;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  width: 90%;
}

.modal__exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal__exit i {
  background-color: var(--color-accent);
  color: var(--color-textdark);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 150ms linear;
  transition: -webkit-transform 150ms linear;
  transition: transform 150ms linear;
  transition: transform 150ms linear, -webkit-transform 150ms linear;
}

.modal__exit i:active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-text);
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  margin-top: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.modal__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  padding: 1rem;
  color: var(--color-text);
  font-size: 1rem;
  font-size: clamp(0.9rem, 3vw, 1rem);
  font-weight: bold;
  border-top: 2px solid var(--color-accent);
}

.modal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid var(--color-text);
  max-height: 70px;
}

.modal__item .modal__image {
  max-width: 70px;
  min-width: 70px;
  margin-right: 1rem;
}

.modal__item .modal__image img {
  max-width: 75px;
  width: 100%;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
}

.modal__item .modal__quantity {
  font-size: 1rem;
  font-size: clamp(0.7rem, 1vw, 1rem);
  font-weight: bold;
}

.modal__item .modal__name {
  font-size: 1rem;
  font-size: clamp(0.7rem, 1vw, 1rem);
  text-transform: uppercase;
  text-align: center;
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal--link {
  text-decoration: none;
  color: var(--color-text);
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.modal--link:hover, .modal--link:active {
  color: var(--color-underline);
}

.item--counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item--counts button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-size: clamp(0.6rem, 2vw, 0.9rem);
  text-align: center;
  -webkit-transition: opacity 300ms linear, color 300ms linear, -webkit-transform 300ms linear;
  transition: opacity 300ms linear, color 300ms linear, -webkit-transform 300ms linear;
  transition: transform 300ms linear, opacity 300ms linear, color 300ms linear;
  transition: transform 300ms linear, opacity 300ms linear, color 300ms linear, -webkit-transform 300ms linear;
  font-weight: bold;
  color: var(--color-text);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  background: transparent;
}

.item--counts button:hover, .item--counts button:active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: var(--color-underline);
  opacity: 1;
}

.overlay--active {
  visibility: visible;
  opacity: 1;
}

.modal--active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1049px) {
  nav .cart--wrapper .cart__quantity {
    width: 23px;
    height: 23px;
  }
  nav .cart--wrapper .cart__quantity__text {
    font-size: 0.75rem;
  }
}

.snackbar-container {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transition-property: top, right, bottom, left, opacity;
  transition-property: top, right, bottom, left, opacity;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  min-height: 14px;
  background-color: #070b0e;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  line-height: 22px;
  padding: 18px 24px;
  bottom: -100px;
  top: -100px;
  opacity: 0;
  z-index: 9999;
}

.snackbar-container .action {
  background: inherit;
  display: inline-block;
  border: none;
  font-size: inherit;
  text-transform: uppercase;
  color: #4caf50;
  margin: 0 0 0 24px;
  padding: 0;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  cursor: pointer;
}

@media (min-width: 640px) {
  .snackbar-container {
    min-width: 288px;
    max-width: 568px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 2px;
    margin: 24px;
  }
}

@media (max-width: 640px) {
  .snackbar-container {
    left: 0;
    right: 0;
    width: 100%;
  }
}

.snackbar-pos.bottom-center {
  top: auto !important;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.snackbar-pos.bottom-left {
  top: auto !important;
  bottom: 0;
  left: 0;
}

.snackbar-pos.bottom-right {
  top: auto !important;
  bottom: 0;
  right: 0;
}

.snackbar-pos.top-left {
  bottom: auto !important;
  top: 0;
  left: 0;
}

.snackbar-pos.top-center {
  bottom: auto !important;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.snackbar-pos.top-right {
  bottom: auto !important;
  top: 0;
  right: 0;
}

@media (max-width: 640px) {
  .snackbar-pos.bottom-center, .snackbar-pos.top-center {
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
}

html {
  /* width */
  /* Track */
  /* Handle */
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  width: 0.8rem;
}

html ::-webkit-scrollbar-track {
  background: var(--color-bg);
}

html ::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 0.05rem;
}

html ::-webkit-scrollbar-corner {
  background: var(--color-bg);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: var(--color-bg);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  position: relative;
}

body a,
body select,
body input,
body button {
  font-family: 'Montserrat', sans-serif;
}

.page__container--wrapper {
  position: relative;
}

.page__container {
  padding: 0 2rem;
}

.link {
  position: relative;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.link::before {
  content: '';
  position: absolute;
  background: var(--color-underline);
  height: 2.2px;
  left: 0;
  right: 0;
  bottom: -0.2rem;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms linear;
  transition: opacity 250ms linear, -webkit-transform 250ms linear;
  transition: opacity 250ms linear, transform 250ms linear;
  transition: opacity 250ms linear, transform 250ms linear, -webkit-transform 250ms linear;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.link:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav .nav--container {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem 0;
}

nav .hamburger-menu {
  display: none;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 20%;
  gap: 1rem;
}

nav .logo svg {
  margin-bottom: 0.2rem;
  width: 100%;
  max-width: 50px;
  -webkit-filter: drop-shadow(4px 5px 4px rgba(0, 0, 0, 0.63));
          filter: drop-shadow(4px 5px 4px rgba(0, 0, 0, 0.63));
  fill: var(--color-text);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

nav .logo svg:hover {
  fill: var(--color-underline);
}

nav .desktop {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 40%;
}

nav .desktop a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.05rem;
  font-size: clamp(0.9rem, 2vw, 1.05rem);
}

nav .theme--wrapper_btn {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: relative;
  width: 43px;
  height: 22px;
  border: 2px solid var(--color-text);
  outline: none;
  border-radius: 2rem;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  opacity: 0.9;
}

nav .theme--wrapper_btn:hover {
  -webkit-transform: translatey(2px);
          transform: translatey(2px);
  opacity: 1;
}

nav .theme--wrapper_btn::before {
  content: '';
  position: absolute;
  top: 1.2px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: var(--color-text);
  border-radius: 50%;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

nav .theme--wrapper_btn:checked::before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  background-color: var(--color-text);
}

.home--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  width: 100%;
  max-width: 1450px;
  margin: 3rem auto;
}

.home--container .container {
  height: 50vh;
  width: 100%;
  max-width: 1450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  border: 2px solid var(--color-text);
  border-radius: 0.5rem;
  padding: 2rem 0;
  -webkit-box-shadow: -3px 3px 1rem rgba(0, 0, 0, 0.479);
          box-shadow: -3px 3px 1rem rgba(0, 0, 0, 0.479);
}

.home--container .container .availability--text {
  color: var(--color-text);
  font-size: 0.8rem;
  font-size: clamp(0.7rem, 1vw, 0.8rem);
  position: absolute;
  bottom: 0.5rem;
}

.home--container .container .content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-text);
  gap: 0.2rem;
  text-align: center;
}

.home--container .container .content-info::before {
  position: absolute;
  width: 11px;
  height: 65%;
  background: var(--color-accent);
  left: 2rem;
  content: '';
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63);
  -webkit-animation: leftBarLoad 1.5s ease;
          animation: leftBarLoad 1.5s ease;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home--container .container .content-info h1 {
  font-weight: bold;
  font-size: 2.5rem;
  font-size: clamp(1.5rem, 1.5vw, 2.5rem);
  word-spacing: 2px;
}

.home--container .container .content-info p {
  font-size: 1.2rem;
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  word-spacing: -0.5px;
}

.home--container .container .content-info span {
  margin-top: 0.3rem;
  opacity: 0.7;
  font-size: 0.95rem;
  font-size: clamp(0.7rem, 1.5vw, 0.95rem);
  word-spacing: -0.5px;
}

.home--container .container .content-info .price {
  opacity: 1;
  font-weight: bold;
  font-size: 3rem;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
}

.home--container .container .card {
  background: var(--color-card);
  border-radius: 1rem;
  width: 100%;
  max-width: 600px;
  height: 300px;
  -webkit-box-shadow: -2px 6px 4px var(--color-buttons);
          box-shadow: -2px 6px 4px var(--color-buttons);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home--container .container .card .cardplus {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-text);
  font-size: 1.2rem;
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: bold;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: var(--color-textdark);
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  gap: 1rem;
}

.home--container .container .card .cardplus:active {
  color: var(--color-underline);
}

.home--container .container .card .cardplus:active .plus {
  color: var(--color-underline);
}

.home--container .container .card .cardplus .plus {
  color: var(--color-textdark);
  font-size: 3rem;
  font-size: clamp(2rem, 3vw, 3rem);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.home--container .container .card .cardplus:hover, .home--container .container .card .cardplus:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home--container .image-container {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
}

.home--container .image-container .item--image {
  width: 100%;
  max-width: 400px;
  z-index: 3;
  -webkit-filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.63));
          filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.63));
}

.home--container .image-container .tinifyimages {
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
}

.home--container .container2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.home--container .container2 .content-info::before {
  background: var(--color-accent);
  right: 2rem;
  left: unset;
}

.home--container .container2 .btn--wrapper .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.3rem;
}

.home--container .container2 .btn--wrapper .btn::after {
  content: '\f053';
}

.home--container .container2 .btn--wrapper .btn:hover::after {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.bgdark .availability--text {
  opacity: 0.6;
}

.bgdark .blackitems {
  display: unset;
}

.bgdark .whiteitems {
  display: none;
}

.bgdark .add button,
.bgdark .remove button {
  opacity: 0.8;
}

.bglight .availability--text {
  opacity: 1;
}

.bglight .whiteitems {
  display: unset;
}

.bglight .blackitems {
  display: none;
}

.bglight .add button,
.bglight .remove button {
  opacity: 1;
}

.image--anim--image {
  visibility: hidden;
  -webkit-animation: ItemsAnim 1s 500ms ease forwards;
          animation: ItemsAnim 1s 500ms ease forwards;
}

@-webkit-keyframes leftBarLoad {
  0% {
    height: 0%;
  }
  100% {
    height: 65%;
  }
}

@keyframes leftBarLoad {
  0% {
    height: 0%;
  }
  100% {
    height: 65%;
  }
}

@-webkit-keyframes ItemsAnim {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes ItemsAnim {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.btn--wrapper .btn {
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  font-size: 2.5rem;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: bold;
  color: var(--color-cta);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3rem;
}

.btn--wrapper .btn:hover {
  color: var(--color-text);
}

.btn--wrapper .btn::after {
  content: '\f054';
  font-weight: bold;
  font-family: 'Font Awesome 5 Free';
  font-size: 1.3rem;
  background: var(--color-cta);
  -webkit-background-clip: text;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.btn--wrapper .btn:hover::after {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: var(--color-underline);
}

.socials footer {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials footer a {
  font-size: 3rem;
  font-size: clamp(2.6rem, 3vw, 3rem);
  padding: 0.2rem;
  color: var(--color-accent);
  -webkit-transition: color 250ms ease, -webkit-transform 250ms ease;
  transition: color 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease, color 250ms ease;
  transition: transform 250ms ease, color 250ms ease, -webkit-transform 250ms ease;
}

.socials footer .icons {
  z-index: 5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.socials footer .icons__facebook {
  color: #4267b2;
}

.socials footer .icons__instagram {
  color: #e1306c;
}

.socials footer .icons__twitter {
  color: #00acee;
}

.socials footer .icons__icon:not(:hover) {
  color: var(--color-socials);
  opacity: 0.95;
}

.socials footer .icons__icon:hover, .socials footer .icons__icon:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.socials footer .engoa {
  position: relative;
}

.socials footer .engoa a {
  color: var(--color-socials);
  font-size: 0.85rem;
  font-size: clamp(0.75rem, 1vw, 0.85rem);
  font-weight: bold;
  opacity: 0.7;
  text-decoration: none;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.socials footer .engoa a:hover {
  opacity: 1;
}

.socials footer .engoa::before {
  content: '';
  position: absolute;
  background: var(--color-text);
  width: 0%;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 150ms linear;
  transition: width 150ms linear;
  pointer-events: none;
}

.socials footer .engoa:hover::before {
  width: 100%;
}

.gototop {
  opacity: 0;
  position: fixed;
  bottom: 2%;
  right: 6.5%;
  z-index: 99;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--color-text);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.gototop--cta {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-size: 0.7rem, 3vw, 1.2rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: var(--color-bg);
}

@media (max-width: 1599px) {
  .home--container .container .card {
    max-width: 400px;
    height: 200px;
  }
  .home--container .image-container .item--image {
    max-width: 300px;
  }
  .home--container .image-container .tinifyimages {
    max-width: 150px;
  }
}

@media (max-width: 1199px) {
  .home--container .container .content-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home--container .container .card {
    max-width: 350px;
    height: 200px;
  }
}

@media (max-width: 1049px) {
  .home--container {
    gap: 12rem;
  }
  .home--container .container {
    gap: 0.9rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
  }
  .home--container .container .content-info::before {
    width: 10px;
    left: -1.5rem;
    height: 65%;
  }
  .home--container .container .card {
    height: unset;
    max-width: 200px;
    margin-bottom: 1rem;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0.5rem;
  }
  .home--container .container .card .cardplus {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem;
  }
  .home--container .container .card .cardplus .fa-plus {
    font-size: 1rem;
  }
  .home--container .container .image-container {
    bottom: -7rem;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  .home--container .container .image-container .item--image {
    max-width: 350 px;
    width: 100%;
  }
  .home--container .container .image-container .tinifyimages {
    max-width: 170px;
    width: 100%;
  }
  .gototop {
    width: 35px;
    height: 35px;
  }
  nav .desktop {
    display: none;
  }
  nav .logo {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 65%;
  }
  nav .hamburger-menu {
    font-size: 1.25rem;
    color: var(--color-text);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .menu--close {
    font-size: 1.5rem;
    display: none;
  }
  nav .menu--close:hover {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  nav .menu--open {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
  }
  nav .hide {
    display: none;
  }
}

.active {
  opacity: 1 !important;
  visibility: visible !important;
}

.navbar--mobile {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 1rem 0.6rem;
  width: 100%;
  background-color: var(--color-mobilemenu);
  border-radius: 0.5rem 1rem;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.navbar--mobile a {
  color: var(--color-textdark);
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */