@import 'calc';
@import 'equation';
@import 'fruitshop';
@import 'order';
@import 'breakpoints';
@import 'variables';
@import 'product';

// @include media('<lg', '<md') {
//    * {
//       outline: 1px solid red !important;
//    }
// }

html {
  /* width */
  ::-webkit-scrollbar {
    width: 0.8rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-bg);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 0.05rem;
  }

  /* Handle on hover */

  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: var(--color-bg);
  transition: all $anim--speed;
}

a {
  font-family: 'Montserrat', sans-serif;
}

// Hide Hamburger menu on Desktop
nav {
  .hamburger-menu {
    display: none;
  }
}
// Hide Hamburger menu on Desktop

// Nav button animations

.link {
  position: relative;
  transition: all $anim--speed;

  &:active {
    transform: scale(1.1);
  }
  &:hover::before {
    transform: scale(1);
  }
}
.link::before {
  content: '';
  position: absolute;
  background: var(--color-underline);
  height: 2.2px;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  transition: opacity $anim--speed, transform $anim--speed;
  transform: scaleX(0);
}

// Nav button animations

nav {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;

  .logo {
    flex: 1;

    svg {
      margin-top: 0.2rem;
      max-width: 100%;
      width: 3rem;
      filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.63));
      fill: var(--color-text);
      transition: all $anim--speed;

      &:hover {
        fill: var(--color-underline);
      }
    }
  }

  .navlinks {
    flex: 3;
  }

  .desktop {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    list-style: none;

    a {
      text-decoration: none;
      color: var(--color-text);
      font-size: 1.2rem;
      font-size: clamp(1rem, 2vw, 1.2rem);
    }
  }

  .mobilebtn {
    list-style: none;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 2.7rem;
    right: -0.2rem;
    display: flex;
    z-index: 4;
    padding: 1rem 1.2rem 1rem 1.2rem;
    border-radius: 0.5rem;
    background: var(--color-mobilemenu);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: all 700ms ease;

    a {
      font-weight: bold;
      color: var(--color-textdark);
    }
  }
}

.home--container {
  gap: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  height: 70vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-top: 4rem;
  border: 2px solid var(--color-text);
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: -3px 3px 1rem rgba(0, 0, 0, 0.479);

  .content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    color: var(--color-text);

    &::before {
      position: absolute;
      width: 11px;
      height: 65%;
      background: var(--color-accent);
      right: 102.5%;
      content: '';
      box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63);
      animation: leftBarLoad 1.5s ease;
      top: 50%;
      transform: translateY(-50%);
    }
    h1 {
      font-weight: bold;
      font-size: 3rem;
      font-size: clamp(1.5rem, 3vw, 3rem);
    }
    p {
      font-size: 1.3rem;
      font-size: clamp(1rem, 1.8vw, 1.3rem);
    }

    span {
      margin-top: 0.3rem;
      opacity: 0.7;
      font-size: 0.95rem;
      font-size: clamp(0.8rem, 3vw, 0.95rem);
    }
    .price {
      opacity: 1;
      font-weight: bold;
      font-size: 3rem;
      font-size: clamp(1.3rem, 3vw, 3rem);
    }
  }

  .card {
    position: relative;
    background: var(--color-card);
    border-radius: 1rem;
    max-width: 100%;
    max-height: 100%;
    width: 600px;
    height: 300px;
    box-shadow: inset 0 0 6px var(--color-buttons);
    display: flex;
    flex-direction: column;
    align-items: center;

    .cardplus {
      margin: auto 0;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--color-text);
      text-decoration: none;
      font-size: 1.2rem;
      font-size: clamp(1rem, 3vw, 1.2rem);
      font-weight: bold;
      transition: transform $anim--speed;
      color: var(--color-textdark);

      .plus {
        color: var(--color-textdark);
        font-size: 3rem;
        font-size: clamp(2rem, 3vw, 3rem);
        margin-bottom: 1rem;
      }
      &:hover,
      &:focus img {
        transform: scale(1.2);
      }
    }
  }
}

.image-container {
  max-width: 100%;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 3.5rem;
  display: flex;
  pointer-events: none;

  .item--image {
    width: 500px;
    z-index: 3;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.63));
    animation: ItemsAnim 1.5s ease;
  }
  .tinifyimages {
    width: 340px;
  }
}

.container2 {
  flex-direction: row-reverse;

  .content-info {
    text-align: right;

    &::before {
      right: -5%;
    }
  }

  .btn--wrapper {
    .btn {
      &::after {
        right: 103%;
        top: 1.1rem;
        content: '\f053';
      }
      &:hover::after {
        transform: translateX(-5px);
      }
    }
  }
}
.availability--wrapper__text {
  color: var(--color-text);
  font-size: 0.95rem;
  font-size: clamp(0.7rem, 1.8vw, 0.95rem);
  position: relative;
  top: -7rem;
}

// Hide Items on load, for each theme!

.bglight {
  .availability--wrapper__text {
    opacity: 1 !important;
  }
  .whiteitems {
    display: unset !important;
  }

  .blackitems {
    display: none !important;
  }
}

.bgdark {
  .availability--wrapper__text {
    opacity: 0.6;
  }
  .blackitems {
    display: unset;
  }
  .whiteitems {
    display: none;
  }
}

// Hide Items on load, for each theme!
@keyframes ItemsAnim {
  0% {
    transform: translateY(-20rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes leftBarLoad {
  0% {
    height: 0%;
  }

  100% {
    height: 65%;
  }
}

.btn--wrapper {
  transition: transform 300ms linear;
  position: relative;

  &:hover,
  &:focus {
    transform: translateY(-1.5px);
    color: red;
  }
  .btn {
    font-size: 3rem;
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: bold;
    color: var(--color-cta);
    text-decoration: none;

    &:hover {
      color: var(--color-text);
    }

    &::after {
      content: '\f054';
      font-weight: bold;
      font-family: 'Font Awesome 5 Free';
      font-size: 1.3rem;
      position: absolute;
      background: var(--color-cta);
      -webkit-background-clip: text;
      right: -1rem;
      top: 1.4rem;
      transition: transform $anim--speed;
    }
    &:hover::after {
      transform: translateX(5px);
      color: var(--color-underline);
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  gap: 0.2rem;
  padding: 1rem;
  a {
    font-size: 3rem;
    font-size: clamp(2.6rem, 3vw, 3rem);
    padding: 0.2rem;
    color: var(--color-accent);
    transition: transform $anim--speed, color $anim--speed;
  }

  .icons {
    z-index: 5;
    flex-direction: row;
    display: flex;
    gap: 1rem;
    margin-top: auto;

    &__facebook {
      color: #4267b2;
    }
    &__instagram {
      color: #e1306c;
    }
    &__twitter {
      color: #00acee;
    }

    &__icon {
      &:not(:hover) {
        color: var(--color-socials);
        opacity: 0.95;
      }
      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }

  .engoa {
    position: relative;

    a {
      color: var(--color-socials);
      font-size: 0.85rem;
      font-size: clamp(0.75rem, 1vw, 0.85rem);
      font-weight: bold;
      opacity: 0.7;
      text-decoration: none;
      transition: all 150ms linear;

      &:hover {
        opacity: 1;
      }
    }
    &::before {
      content: '';
      position: absolute;
      background: var(--color-text);
      width: 0%;
      top: 50%;
      transform: translateY(50%);
      right: 0;
      left: 0;
      height: 2px;
      transition: width 150ms linear;
      pointer-events: none;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.gototop {
  opacity: 0;
  position: fixed;
  bottom: 2%;
  right: 6.5%;
  z-index: 99;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--color-text);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;

  &--cta {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-size: (0.7rem, 3vw, 1.2rem);
    transition: all 300ms ease;
    color: var(--color-bg);
  }
}
.theme--wrapper {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  flex-grow: 2;

  &_btn {
    box-shadow: var(--box-shadow);
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 60px;
    height: 30px;
    border: 2px solid var(--color-text);
    outline: none;
    border-radius: 2rem;
    transition: all 350ms ease;
    opacity: 0.9;
    &:hover {
      transform: translatey(2px);
      opacity: 1;
    }

    &::before {
      content: '';
      position: absolute;
      top: 1.55px;
      left: 2.5px;
      width: 22px;
      height: 22px;
      background: var(--color-text);
      border-radius: 50%;
      transition: all 350ms ease;
    }
    &:checked::before {
      transform: translateX(30px);
      background-color: var(--color-text);
    }
  }
}

// @include media('<lg', '<md') {
//    * {
//       outline: 1px solid red !important;
//    }
// }

// Media Queries!
@include media('<xl') {
  .container {
    .card {
      width: 500px;
      height: 250px;
      margin-bottom: 2rem;
    }
    .image-container {
      .item--image {
        width: 330px;
      }
    }
  }
}

@include media('<lg') {
  .content-info {
    .btn {
      &::after {
        right: -1rem;
        top: 0.8rem;
      }
    }
  }
  .image-container {
    right: 50%;
    bottom: -6.7rem;
    transform: translate(50%, 50%);

    .item--image {
      width: 280px;
    }
    .home--container {
      .container {
        flex-direction: column;
        .tinifyimages {
          width: 200px;
        }
      }
      .content-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
      .card {
        width: 450px;
        height: 200px;
        margin-bottom: 2rem;
      }
      #whiteitems {
        margin-top: 5rem;
      }
    }
  }
}
@include media('<md') {
  .availability--wrapper__text {
    top: -6.5rem;
  }
  .home--container {
    gap: 5rem;

    .container {
      flex-direction: column;
      .tinifyimages {
        width: 200px;
      }
    }
    .image-container {
      right: 51%;
      bottom: -7rem;
      transform: translate(50%, 50%);

      .item--image {
        width: 250px;
      }
    }
  }
  .theme--wrapper {
    &_btn {
      margin-left: auto;
      width: 43px;
      height: 22px;
      &::before {
        top: 1.2px;
        left: 2px;
        width: 15px;
        height: 15px;
      }
      &:checked::before {
        transform: translateX(20px);
      }
    }
  }
  .gototop {
    width: 35px;
    height: 35px;
  }

  nav {
    .desktop {
      visibility: hidden;
      a {
        font-size: 0; // Font size to 0 so desktop nav links don't take up width on mobile
      }
    }
    .mobilebtn {
      visibility: visible;
      a {
        font-size: 0.7rem;
      }
    }
  }

  .container {
    .card {
      height: 170px;
      width: 270px;
    }

    .content-info {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      &::before {
        height: 65%;
        width: 10px;
      }

      .price {
        margin-top: 1rem;
      }
      .btn {
        &::after {
          font-size: 1rem;
          top: 0.8rem;
        }
      }
    }
  }

  nav {
    position: relative;

    .hamburger-menu {
      font-size: 1.3rem;
      color: var(--color-text);
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0.6rem;
      display: block;
      transition: transform $anim--speed;

      &:hover,
      &:active {
        transform: scale(1.2);
      }
    }

    .link::before {
      background: white;
    }
  }
  .icons {
    &__icon:active {
      color: black;
    }
  }
  @keyframes ItemsAnim {
    0% {
      transform: translateY(-15rem);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
