<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <main class="calc__container">
      <div class="calc__container__header">
        <h1>The UNCONVENTIONAL Calculator! :)</h1>
      </div>
      <form id="form">
        <div class="input__container">
          <input
            class="input__container__input input--rounded"
            id="container__input1"
            placeholder="Enter a number"
            type="number"
            step="0.01"
          />

          <div class="button__container">
            <button class="btn--rounded btn--calc" id="btnadd" type="submit">
              <i class="fas fa-plus button__container__icon"></i>
            </button>
            <button class="btn--rounded btn--calc" id="btnsubstract" type="submit">
              <i class="fas fa-minus button__container__icon"></i>
            </button>
            <button class="btn--rounded btn--calc" id="btnmultiply" type="submit">
              <i class="fas fa-asterisk button__container__icon"></i>
            </button>
            <button class="btn--rounded btn--calc" id="btndivide" type="submit">
              <i class="fas fa-slash button__container__icon"></i>
            </button>
            <button class="btn--rounded btn--calc" id="btnexponential" type="submit">
              <i class="fas fa-superscript button__container__icon"></i>
            </button>
          </div>

          <div class="result__container" id="result__container">
            <p class="result__container__text" id="result__container__p">Result: 0</p>
          </div>

          <div class="button__container">
            <button class="btn--rounded" id="btnreset" type="reset">
              <i class="fas fa-undo button__container__icon"></i>
            </button>
          </div>

          <div class="image__container ">
            <img
              src="assets/images/calculator.svg"
              alt="Calculator Image"
              onload="SVGInject(this)"
            />
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
