<!DOCTYPE html>
<html lang="en">
   <head> </head>
   <body>
      <main class="calc__container">
         <h1>Please Input any numbers to calculate the result:</h1>
         <form id="form">
            <div class="input__container">
               <input
                  class="input__container__input input--rounded"
                  id="container__input1"
                  placeholder="Enter a number"
                  type="number"
                  step="0.01"
               />
               <span class="calc__container__plus">+</span>
               <input
                  class="input__container__input input--rounded"
                  id="container__input2"
                  placeholder="Enter a number"
                  type="number"
                  step="0.01"
               />
               <div class="button__container">
                  <button class="btn--rounded" id="container__button" type="submit">
                     <i class="fas fa-calculator"></i>
                  </button>
                  <button class="btn--rounded" id="container__reset" type="reset">
                     <i class="fas fa-undo"></i>
                  </button>
               </div>
               <div class="result__container" id="container__result">
                  <p class="result__container__text" id="result__container__p">0</p>
               </div>
            </div>
         </form>
      </main>
   </body>
</html>
