<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <header>
      <div class="container">
        <div class="content-info">
          <h1 id="header">PS5 DualSense 5</h1>
          <p>Wireless Controller for Playstation 5</p>
          <span><strong>*</strong> Compatible for Playstation 4 Pro</span>
          <span class="price">$49.99 / €42.99</span>
          <div class="cta">
            <a href="#" class="btn link">More Info</a>
          </div>
        </div>
        <div class="card">
          <a class="cardplus" href=""> <img src="/images/add.png" alt="Plus Icon" />Add to Cart</a>
        </div>
        <div class="image-container">
          <img src="/images/controller.png" alt="Controller image" />
        </div>
      </div>
    </header>
  </body>
</html>
