<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <header>
      <div class="container">
        <div class="content-info">
          <h1 id="header">PS5 DualSense 5</h1>
          <p>Wireless Controller for Playstation 5</p>
          <span><strong>*</strong> Compatible for Playstation 4 Pro</span>
          <span class="price">$49.99 / €42.99</span>
          <div class="btn--wrapper">
            <a href="#exercise"  class="btn link">More Info</a>
          </div>
        </div>
        <div class="card">
          <a class="cardplus" href="#"> <i class="fas fa-plus plus"></i>Add to Cart</a>
        </div>
        <div class="image-container">
          <img
            class="blackcontroller"
            id="blackcontroller"
            src="assets/images/controller.png"
            alt="Controller image"
          />
        </div>
        <div class="image-container">
          <img
            id="whitecontroller"
            src="assets/images/controller2.png"
            alt="Controller image"
          />
        </div>
      </div>
    </header>
  </body>
</html>
