<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <header>
      <div class="container">
        <div class="content-info">
          <h1 id="header">PS5 Controller</h1>
          <p>Wireless Controller for Playstation 5</p>
          <span class="compatible">Compatible for Playstation 4 Pro</span>
          <span class="price">$49.99 / €42.99</span>
          <div class="btn--wrapper">
            <a href="#exercise" class="btn link">More Info</a>
          </div>
        </div>
        <div class="card">
          <a class="cardplus" href="#"> <i class="fas fa-plus plus"></i>Add to Cart</a>
        </div>
        <div class="image-container">
          <img
            id="blackcontroller"
            src="assets/images/controller.png"
            alt="Controller image"
          />
        </div>
        <div class="image-container">
          <img
            id="whitecontroller"
            src="assets/images/controller2.png"
            alt="Controller image"
          />
        </div>
      </div>
      <div class="container2 container">
        <div class="content-info">
          <h1 id="header">Corsair Virtuoso XT</h1>
          <p>Wireless Gaming Headset</p>
          <span class="compatible">Compatible for all platforms including Switch</span>
          <span class="price">$179.99 / €109.99</span>
          <div class="btn--wrapper">
            <a href="#exercise" class="btn link">More Info</a>
          </div>
        </div>
        <div class="card">
          <a class="cardplus" href="#"> <i class="fas fa-plus plus"></i>Add to Cart</a>
        </div>
        <div class="image-container">
          <img
            id="blackheadphones"
            src="assets/images/headphones.png"
            alt="Headphones image"
          />
        </div>
        <div class="image-container">
          <img
            id="whiteheadphones"
            src="assets/images/headphones2.png"
            alt="Headphones image"
          />
        </div>
      </div>
      </div>
      <div class="container3 container">
        <div class="content-info">
          <h1 id="header">Logitech G-Pro Wireless</h1>
          <p>Wired & Wireless Gaming Mouse</p>
          <span class="compatible">Best Gaming mouse on the market!</span>
          <span class="price">$219.99 / €169.99</span>
          <div class="btn--wrapper">
            <a href="#exercise" class="btn link">More Info</a>
          </div>
        </div>
        <div class="card">
          <a class="cardplus" href="#"> <i class="fas fa-plus plus"></i>Add to Cart</a>
        </div>
        <div class="image-container">
          <img
            id="blackmouse"
            src="assets/images/mouse.png"
            alt="Headphones image"
          />
        </div>
        <div class="image-container">
          <img
            id="whitemouse"
            src="assets/images/mouse2.png"
            alt="Mouse image"
          />
        </div>
      </div>
      <div class="container2 container">
        <div class="content-info">
          <h1 id="header">Xbox Series X Bundle</h1>
          <p>Gaming Console with Controller</p>
          <span class="compatible">The newest Next-Gen Gaming Consoles</span>
          <span class="price">$619.99 / €569.99</span>
          <div class="btn--wrapper">
            <a href="#exercise" class="btn link">More Info</a>
          </div>
        </div>
        <div class="card">
          <a class="cardplus" href="#"> <i class="fas fa-plus plus"></i>Add to Cart</a>
        </div>
        <div class="image-container">
          <img
            id="blackxbox"
            src="assets/images/xbox.png"
            alt="Xbox image"
          />
        </div>
        <div class="image-container">
          <img
            id="whitexbox"
            src="assets/images/xbox2.png"
            alt="Xbox image"
          />
        </div>
      </div>
    </header>
  </body>
</html>
