<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <form id="form" required spellcheck="false" autocomplete="off">
      <div class="main__container">
        <div class="main__container__wrapper">
          <div class="main__container__header">
            <h1>Fill The Order</h1>
          </div>

          <div class="main__container__input--wrapper">
            <label for="fname" class="main__container__label">First Name</label>
            <input
              type="text"
              name="fname"
              id="fname"
              class="main__container__input main__container__name"
              required
            />
          </div>

          <div class="main__container__input--wrapper">
            <label for="lname" class="main__container__label">Last Name</label>
            <input
              type="text"
              name="lname"
              id="lname"
              class="main__container__input main__container__name"
              required
              minlength="3"
              maxlength="15"
            />
          </div>

          <div class="main__container__input--wrapper">
            <label for="country" class="main__container__label main__container__country">
              Country
            </label>
            <select
              name="country"
              id="country"
              class="main__container__select"
              required
            ></select>
          </div>

          <div class="main__container__input--wrapper">
            <label for="city" class="main__container__label">City </label>
            <input
              type="texton"
              name="city"
              id="city"
              class="main__container__input"
              required
              minlength="3"
              maxlength="15"
            />
          </div>

          <div class="main__container__input--wrapper">
            <label for="address" class="main__container__label">Address</label>
            <input
              type="text"
              name="address"
              id="address"
              class="main__container__input"
              minlength="3"
              maxlength="25"
              required
            />
          </div>

          <div class="main__container__input--wrapper">
            <label for="zipcode" class="main__container__label">ZIP</label>
            <input
              required
              type="text"
              name="zipcode"
              id="zipcode"
              class="main__container__input main__container__zip"
              minlength="5"
              maxlength="6"
            />
          </div>
        </div>

        <div class="main__container__items">
          <div class="main__container__item" id="anim1">
            <input
              type="checkbox"
              name="clothes"
              id="hats"
              value="74.99"
              class="main__container__items__hidden"
            />
            <label for="hats" class="main__container__price"
              >A Hat - 74.99$
              <i class="fas fa-chevron-down main__container__items__chevron"></i>

              <img
                src="https://images.asos-media.com/products/asos-design-baseball-cap-in-stone/13760688-1-stone?$n_480w$&wid=476&fit=constrain"
                alt="hats"
              />
            </label>
          </div>
          <div class="main__container__item" id="anim2">
            <input
              type="checkbox"
              name="clothes"
              id="shirts"
              value="109.99"
              class="main__container__items__hidden"
            />
            <label for="shirts" class="main__container__item__price"
              >A Shirt - 109.9$
              <i class="fas fa-chevron-down main__container__items__chevron"></i>
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdYcgJnt8KwRudnpgf1zj4q0rRkgm1pszo1w&usqp=CAU"
                alt="shirt"
              />
            </label>
          </div>
          <div class="main__container__item" id="anim3">
            <input
              type="checkbox"
              name="clothes"
              id="jeans"
              value="199.99"
              class="main__container__items__hidden"
            />
            <label for="jeans" class="main__container__price"
              >Jeans - 199.99$
              <i class="fas fa-chevron-down main__container__items__chevron"></i>
              <img
                src="https://images.asos-media.com/products/topman-organic-cotton-blend-stretch-skinny-jeans-in-mid-wash/23969657-1-lst?$n_640w$&wid=513&fit=constrain"
                alt="jeans"
              />
            </label>
          </div>
          <div class="main__container__item" id="anim4">
            <input
              type="checkbox"
              name="clothes"
              id="shorts"
              value="249.99"
              class="main__container__items__hidden"
            />
            <label for="shorts" class="main__container__price"
              >Shorts - 249.99$
              <i class="fas fa-chevron-down main__container__items__chevron"></i>

              <img
                src="https://images.asos-media.com/products/jack-jones-intelligence-jersey-short-in-beige/23166293-1-beige?$n_640w$&wid=513&fit=constrain"
                alt="shorts"
              />
            </label>
          </div>
        </div>
        <div class="main__container__buttons">
          <button id="submitbtn" type="submit">Finish</button>
          <button id="resetbtn" type="reset">Reset</button>
        </div>
        <div class="main__container__result" id="result">
          <p id="cost" class="main__container__result__cost costanim"></p>
        </div>
      </div>
    </form>
  </body>
</html>
